<div class="col-lg-4 col-xl-4 col-xxl-3 col-xl-4">
  <div class="sidebar dashboard__sidebar">
      <div class="dashboard-user text-center">
          <div class="thumb"><img src="<%= user?.avatar %>" alt="dashboard" /></div>
          <div class="content mt-3">
              <h3 class="name"><%= user?.first_name + " " + user?.last_name %></h3>
              <p class="text-white"><%= user?.email %></p>
          </div>
      </div>
      <ul class="dashbard__tab tags">
          <% 
            const user_tabs = [
              {title: "Overview", slug:  'dashboard'},
              {title: "Deposit", slug: 'deposit'},
              {title: "Withdraw", slug: 'withdraw'},
              {title: "Investments", slug: 'investments'},
              {title: "Plans", slug: 'plans'},
              {title: "Transactions", slug: 'transactions'},
              {title: "Referrals", slug: 'referrals'},
              {title: "Account Settings", slug: 'settings'},
              {title: "KYC", slug: 'kyc'},
            ]
            
            const admin_tabs = [
              {title: "Users", slug: 'admin/users'},
              {title: "Investments", slug: 'admin/investments'},
              {title: "Transactions", slug: 'admin/transactions'},
              {title: "Plans", slug: 'admin/plans'},
              {title: "Account Settings", slug: 'settings'},
              {title: "Send Mail", slug: "admin/sendmail"}
            ]
            const items = user?.role === 'admin' ? admin_tabs : user_tabs;
          %>
          <% items.forEach(i => { %>
            <li>
              <a href="/<%= i.slug %>" class="<%= active === i.slug && 'active'  %>"><%= i.title %></a>
            </li>
          <% }) %>
          <li id="logout">
            <a>
              Logout
              <span id="loader" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            </a>
          </li>
      </ul>
      <button class="btn-close btn-close-white d-lg-none"></button>
  </div>
</div>