<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "About Us"}) %>


<section class="container my-5">
    <div class="row gy-5">
        <div class="col-lg-10" style="margin: 0 auto;">
            <div class="post__item-content details__content">
                <div class="row pt-3 pt-sm-4 gy-4">
                    <div class="col-md-6">
                        <h2 class="title">Who we are</h2>
                        <p>Apexstack stands at the forefront of global systematic investment management, harnessing cutting-edge quantitative techniques to uncover and capitalize on market opportunities. Our centralized research and disciplined approach ensure precise and efficient investment exposures.</p>
                        <p>With a robust infrastructure and a team of skilled investment professionals, Apexstack delivers the scale and stability of a large asset management firm while offering the flexibility and customization of a dynamic investment platform. We empower both institutional and retail investors with the essential tools and strategies to thrive in today’s evolving investment environment.</p>
                    </div>
                    <div class="col-md-6 col-sm-8 col-10">
                        <div class="details-thumb">
                            <img src="/assets/images/18.jpg" alt="blog" class="w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Feature Two Section Starts Here -->
<section class="feature-section padding-bottom">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-4">
                <div class="section__header m-0">
                    <h2 class="section__header-title">Why choose us</h2>
                    <span class="d-block"> Our platform stands out for its reliability, transparency, and personalized support. We simplify the investment process, providing you with the tools and insights needed to make informed decisions and grow your wealth securely.</span>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row gy-sm-5 gy-4 gx-xl-5 h-100 justify-content-between">
                    <div class="col-sm-6 col-lg-6 col-xl-6">
                        <div class="feature__item__two style--two">
                            <div class="feature__item__two-thumb">
                                <i class="las la-coins"></i>
                            </div>
                            <div class="feature__item__two-content">
                                <h3 class="title mb-2">Client money protection</h3>
                                <p>Apexstack keeps your funds separate and secure, allowing you to withdraw anytime. Even if Apexstack becomes insolvent, your money will be fully returned to you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xl-6">
                        <div class="feature__item__two style--two">
                            <div class="feature__item__two-thumb">
                                <i class="las la-headset"></i>
                            </div>
                            <div class="feature__item__two-content">
                                <h3 class="title mb-2">Customer-first trading</h3>
                                <p>Apexstack streamlines trading with easy-to-use tools and clear guidance, offering market insights, webinars, and tutorials to enhance your trading skills. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xl-6">
                        <div class="feature__item__two style--two">
                            <div class="feature__item__two-thumb">
                                <i class="las la-shield-alt"></i>
                            </div>
                            <div class="feature__item__two-content">
                                <h3 class="title mb-2">Strong Protection </h3>
                                <p>At Apexstack, we implement top-tier security measures like SSL encryption to safeguard your account and personal data.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xl-6">
                        <div class="feature__item__two style--two">
                            <div class="feature__item__two-thumb">
                                <i class="las la-user-check"></i>
                            </div>
                            <div class="feature__item__two-content">
                                <h3 class="title mb-2">Relability</h3>
                                <p>Apexstack is registered and regulated by the UK's Financial Conduct Authority, ensuring full compliance and transparency in our operations. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Two Section Ends Here -->

<!-- Download Section Starts Here -->
<!-- <section class="download-section padding-bottom section-bg-two overflow-hidden">
    <div class="container">
        <div class="row align-items-center">
            <div class="counter__wrapper row gy-4 gy-sm-5 pt-1 pt-sm-1">
                <div class="col-6 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                    <div class="counter__item">
                        <div class="counter__item-header d-flex align-items-center">
                            <div class="icon">
                                <img src="/assets/images/download/icon1.png" alt="counter">
                            </div>
                            <h2 class="title"><span class="odometer" data-odometer-final="39">0</span>M</h2>
                        </div>
                        <p class="info">Active Members</p>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                    <div class="counter__item">
                        <div class="counter__item-header d-flex align-items-center">
                            <div class="icon">
                                <img src="/assets/images/download/icon2.png" alt="counter">
                            </div>
                            <h2 class="title"><span class="odometer" data-odometer-final="150">0</span>M</h2>
                        </div>
                        <p class="info">Our Total Deposit</p>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                    <div class="counter__item">
                        <div class="counter__item-header d-flex align-items-center">
                            <div class="icon">
                                <img src="/assets/images/download/icon3.png" alt="counter">
                            </div>
                            <h2 class="title"><span class="odometer" data-odometer-final="40">0</span>M</h2>
                        </div>
                        <p class="info">Our Total Withdraw</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Download Section Ends Here -->

<!-- Feature Section Starts Here -->
<section class="feature-section padding-bottom overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section__header text-center">
                    <h2 class="section__header-title">Our core principles</h2>
                    <!-- <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend </p> -->
                </div>
            </div>
        </div>
        <div class="feature__slider">
            <div class="single-slide">
                <div class="feature__item">
                    <div class="feature__item-icon">
                        <img src="/assets/images/feature/1.png" alt="feature">
                    </div>
                    <div class="feature__item-content">
                        <h4 class="title">Get More Profit</h4>
                        <p>Apexstack makes trading easy with user-friendly tools and clear guidance. Stay informed and improve your skills with our market news, webinars, tutorials, and more.</p>
                    </div>
                </div>
            </div>
            <div class="single-slide">
                <div class="feature__item">
                    <div class="feature__item-icon">
                        <img src="/assets/images/feature/2.png" alt="feature">
                    </div>
                    <div class="feature__item-content">
                        <h4 class="title">24/7 Support</h4>
                        <p>Get personalized customer support for all your needs, available 24/5 via live chat, phone, and email.</p>
                    </div>
                </div>
            </div>
            <div class="single-slide">
                <div class="feature__item">
                    <div class="feature__item-icon">
                        <img src="/assets/images/feature/3.png" alt="feature">
                    </div>
                    <div class="feature__item-content">
                        <h4 class="title">Strong Protection</h4>
                        <p>When you investmenting with us, your funds are securely held in segregated accounts at AA-rated banks, ensuring top-level protection</p>
                    </div>
                </div>
            </div>
            <div class="single-slide">
                <div class="feature__item">
                    <div class="feature__item-icon">
                        <img src="/assets/images/feature/4.png" alt="feature">
                    </div>
                    <div class="feature__item-content">
                        <h4 class="title">Relability</h4>
                        <p>Apexstack, founded in 1999, pioneered the world's first fixed-odds trading service and has since earned global trust, growing stronger every year.</p>
                    </div>
                </div>
            </div>
            <div class="single-slide">
                <div class="feature__item">
                    <div class="feature__item-icon">
                        <img src="/assets/images/feature/4.png" alt="feature">
                    </div>
                    <div class="feature__item-content">
                        <h4 class="title">Licensed</h4>
                        <p>Apexstack is regulated by multiple authorities, including the MFSA, Labuan FSA, VFSC, and BVI FSC.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Section Ends Here -->


<!-- Certification Starts Here -->
<section class="plan-section padding-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section__header text-center">
                    <h2 class="section__header-title">Our Certificates</h2>
                    <p>We’re proud to be a Great Place to Work and to hold Platinum certification from Investors in People for our outstanding workplace culture and employee development.</p>
                </div>
            </div>
        </div>
        <div class="plan__slider">
            <% 
                const certs = [
                    "/assets/images/certificates/certificate1.pdf",
                    "/assets/images/certificates/certificate2.pdf",
                    "/assets/images/certificates/certificate3.pdf"
                ] 
            %>
            <% certs.forEach(cert => { %>
                <div class="single-slide">
                    <div class="plan__item">
                        <iframe src="<%= cert %>" width="100%"></iframe>
                        <div class="plan__item-footer">
                            <a download href="<%= cert %>" style="color: #D7A31F;" class="footer-info">DOWNLOAD</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>
<!-- Certification Ends Here -->

<%- include('partials/footer') %>
<%- include('partials/scripts') %>