<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "Real Estate"}) %>

<section class="blog-section padding-top padding-bottom">
  <div class="container">
      <div class="row gy-5">
          <div class="col-lg-10" style="margin: 0 auto;">
              <div class="post__item style--two style--three">
                  <div class="post__item-thumb">
                      <img src="/assets/images/agric.jpg" alt="blog">
                  </div>
                  <div class="post__item-content details__content">
                    <h3 class="title"><a href="blog-details.html">Curabitur Dllamcorper Tltricienisi. Etiam Rhoncus.</a></h3>
                    <p>Agriculture is the backbone of global economies, providing essential resources for food, energy, and raw materials. Investing in agriculture not only offers financial returns but also contributes to the sustainability and resilience of our planet. At [Your Company Name], we recognize the critical role agriculture plays in both local and global markets, and we offer diverse investment opportunities within this sector.</p>
                    <div class="row pt-3 pt-sm-4 gy-4">
                        <div class="col-md-6 col-sm-8 col-10">
                            <div class="details-thumb">
                                <img src="/assets/images/agric-2.jpg" alt="blog" class="w-100">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blockquote h-100">
                                <i class="fas fa-quote-right"></i>
                                <p>Fringilla mauris  amet nibh. Donec sles sagittis magna. Sed onsequat leo eget bibendum sodales augue velit cursus nunc quis </p>
                                <h4 class="name">Munna Ahmed</h4>
                                <span class="designation">CEO of Google</span>
                            </div>
                        </div>
                    </div>
                      <h3 class="subtitle">Maecenas neodio etante tincidunt Donec vitae sapien</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eor.enean massa. Cum sociis natoque penatibus et magnis dis parturient montes,ascetur ridiculususec quam feltricies nec pellentesque eupretium quis sem.</p>
                      <ul class="info__list d-flex flex-wrap mt-4">
                          <li> Dapivamus elementum</li>
                          <li> Dapivamus elementum</li>
                          <li> There are many variations</li>
                          <li> There are many variations</li>
                          <li> Finibus onorum et alorum</li>
                          <li> Finibus onorum et alorum</li>
                      </ul>
                      <div class="share__area d-flex flex-wrap justify-content-md-between justify-content-center my-5 radius-5">
                          <div class="tags__wrapper d-flex flex-wrap align-items-center">
                              <h5>Tags</h5>
                              <ul class="tags m-0 ms-3">
                                  <li><a href="#">Bitcoin</a></li>
                                  <li><a href="#">Hyip</a></li>
                              </ul>
                          </div>
                          <div class="share__wrapper d-flex flex-wrap align-items-center">
                              <h4>Share</h4>
                              <ul class="social-links m-0 ms-3">
                                  <li><a class="facebook-bg" href="#0"><i class="lab la-facebook-f"></i></a></li>
                                  <li><a class="twitter-bg" href="#0"><i class="lab la-twitter"></i></a></li>
                                  <li><a class="instagram-bg" href="#0"><i class="lab la-instagram"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="prev__next__post row justify-content-between gy-4">
                          <div class="col-md-6">
                              <div class="popular__post d-flex flex-wrap">
                                  <div class="thumb">
                                      <img src="assets/images/blog/item4.png" alt="blog">
                                  </div>
                                  <div class="content">
                                      <h6><a href="blog-details.html">Praesent Cum facilis conse ctet adipi sci in architecto porro .</a></h6>
                                      <ul class="post-meta d-flex flex-wrap justify-content-between">
                                          <li>Roberts</li>
                                          <li>20 March 2020</li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="popular__post d-flex flex-wrap flex-row-reverse">
                                  <div class="thumb">
                                      <img src="assets/images/blog/item5.png" alt="blog">
                                  </div>
                                  <div class="content ps-2 pe-3">
                                      <h6><a href="blog-details.html">Praesent Cum facilis cons ectet adipi sci in architecto porro .</a></h6>
                                      <ul class="post-meta d-flex flex-wrap justify-content-between">
                                          <li>Roberts</li>
                                          <li>20 March 2020</li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="comment__area">
                  <h3 class="comment__area-title">02 Comments</h3>
                  <ul class="comments">
                      <li class="comment__item">
                          <div class="comment__header d-flex flex-wrap justify-content-between align-items-center">
                              <div class="poster__item d-flex flex-wrap align-items-center">
                                  <div class="thumb">
                                      <img src="assets/images/dashboard/cc1.png" alt="dashboard">
                                  </div>
                                  <div class="content">
                                      <h4 class="name">Tasfiya Jarha</h4>
                                      <span class="date">15 Aug 2020</span>
                                  </div>
                              </div>
                              <a href="#" class="cmn--btn btn--sm h-auto mt-3 ms-3">REPLY</a>
                          </div>
                          <div class="comment__body">
                              <p>Earum eius nihil sapiente, ab illo voluptatem assumenda debitis totam libero alias quia inventore nam expedita maiores obcaecati eveniet temporibus provident labore umque esse? Nisi hic laboriosam culpa iusto sint nam numquam sit!</p>
                          </div>
                      </li>
                      <li class="comment__item">
                          <div class="comment__header d-flex flex-wrap justify-content-between align-items-center">
                              <div class="poster__item d-flex flex-wrap align-items-center">
                                  <div class="thumb">
                                      <img src="assets/images/dashboard/cc2.png" alt="dashboard">
                                  </div>
                                  <div class="content">
                                      <h4 class="name">Tasfiya Jarha</h4>
                                      <span class="date">15 Aug 2020</span>
                                  </div>
                              </div>
                              <a href="#" class="cmn--btn btn--sm h-auto mt-3 ms-3">REPLY</a>
                          </div>
                          <div class="comment__body">
                              <p>Earum eius nihil sapiente, ab illo voluptatem assumenda debitis totam libero alias quia inventore nam expedita maiores obcaecati eveniet temporibus provident labore umque esse? Nisi hic laboriosam culpa iusto sint nam numquam sit!</p>
                          </div>
                      </li>
                  </ul>
              </div>
              <div class="write__comment__area mt-5">
                  <h3 class="write__comment__area-title">Leave a Comment</h3>
                  <form  class="comment__form form">
                      <div class="row gy-4">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <input type="text" class="form-control form--control" placeholder="Full Name">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <input type="email" class="form-control form--control" placeholder="Email">
                              </div>
                          </div>
                          <div class="col-md-12">
                              <div class="form-group">
                                  <textarea class="form-control form--control" placeholder="Write your Comment"></textarea>
                              </div>
                          </div>
                          <div class="col-12">
                              <a href="#" class="cmn--btn">Post Your Comment</a>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>

<%- include('partials/footer') %>
<%- include('partials/scripts') %>