<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "Investment"}) %>

<!-- Dashboard Section Starts Here -->
<div class="dashbaord-section padding-bottom">
  <div class="container">
    <div class="row">
      <%- include('partials/sidebar', {active: "admin/investments"}) %>
      <div class="col-lg-8 col-xl-8 col-xxl-9">
        <div class="dashboard__wrapper">
          <%- include('partials/dashboard-header', {name: "Investment"}) %>
          <div class="dashboard__table__container">
            <table style="width: 100%;" class="table mt-5 table-responsive transection__table dashboard__table">
              <thead>
                  <tr>
                    <th>Ref</th>
                    <th>User email</th>
                    <th>Amount</th>
                    <th>Profit</th>
                    <th>Status</th>
                    <th>Date</th>
                  </tr>
              </thead>
              <tbody>
                <% data.docs.forEach(i => { %>
                  <tr data-inv="<%= Object.entries(i).filter(i => i[0] === "user").map(i => `${i[0]}:${i[1]}`).join(',') %>" class="inv__details__btn">
                    <td data-label="Ref">
                      <p class="Plan name"><%= i?.plan %></p>
                    </td>
                    <td data-label="User email"><span class="amount"><%= i?.user?.email %></span></td>
                    <td data-label="Capital"><span class="amount">$<%= i?.capital %></span></td>
                    <td data-label="Profit"><span class="wallet"><%= i?.profit %></span></td>
                    <td data-label="Status"><span class="wallet"><%- include("partials/status", { name: i?.status }) %></span></td>
                    <td data-label="Date"><span class="date"><%= i?.created_at %></span></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          <%- include('partials/pagination', { ...data, path: "admin/investments"}) %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard Section Ends Here -->

<%- include('partials/scripts') %>