<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "Plans"}) %>

<!-- Dashboard Section Starts Here -->
<div class="dashbaord-section padding-bottom">
  <div class="container">
    <div class="row">
      <%- include('partials/sidebar', {active: "admin/plans"}) %>
      <div class="col-lg-8 col-xl-8 col-xxl-9">
        <div class="dashboard__wrapper">
          <%- include('partials/dashboard-header', {name: "Plans"}) %>
            <div class="dashboard__table__container">
              <table style="width: 100%;" class="table mt-5 table-responsive transection__table dashboard__table">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Rate</th>
                      <th>Max</th>
                      <th>Min</th>
                    </tr>
                </thead>
                <tbody>
                  <% data.forEach(i => { %>
                    <tr data-plan="<%= Object.entries(i.toObject()).map(i => `${i[0]}:${i[1]}`).join(',') %>" class="plan__details__btn">
                      <td data-label="Plan Name">
                        <p class="name text-capitalize"><%= i?.name %></p>
                      </td>
                      <td data-label="Rate"><span class="amount"><%= i?.rate %>%</span></td>
                      <td data-label="Max price"><span class="currency">$<%= i?.max_price?.toLocaleString("en-US") %></span></td>
                      <td data-label="Min price"><span class="currency">$<%= i?.min_price?.toLocaleString("en-US") %></span></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard Section Ends Here -->

<%- include('partials/footer') %>
<%- include('partials/scripts') %>