<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "Dashboard"}) %>

<!-- Dashboard Section Starts Here -->
<div class="dashbaord-section padding-bottom">
  <div class="container">
    <div class="row">
      <%- include('partials/sidebar', {active: "overview"}) %>
      <div class="col-lg-8 col-xl-8 col-xxl-9">
        <div class="dashboard__wrapper">
            <%- include('partials/dashboard-header', {name: "Dashboard"}) %>
          <div class="row pt-5 gy-4">
              <div class="col-xl-6 col-xxl-4 col-lg-6 col-md-6">
                  <div class="dashboard__card">
                      <div class="dashboard__card-icon">
                          <i class="las la-wallet"></i>
                      </div>
                      <div class="dashboard__card-content">
                          <p class="info">Total Balance</p>
                          <h3 class="title"><%= user?.balance.toLocaleString("en-US") %> USD</h3>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-xxl-4 col-lg-6 col-md-6">
                  <div class="dashboard__card">
                      <div class="dashboard__card-icon">
                          <i class="las la-money-bill-alt"></i>
                      </div>
                      <div class="dashboard__card-content">
                          <p class="info">Earning Balance</p>
                          <h3 class="title"><%= user?.earnings.toLocaleString("en-US") %> USD</h3>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-xxl-4 col-lg-6 col-md-6">
                  <div class="dashboard__card">
                      <div class="dashboard__card-icon">
                          <i class="las la-file-invoice-dollar"></i>
                      </div>
                      <div class="dashboard__card-content">
                          <p class="info">Total Withdraw</p>
                          <h3 class="title"><%= total_withdraw.toLocaleString("en-US") %> USD</h3>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-xxl-4 col-lg-6 col-md-6">
                <div class="dashboard__card">
                    <div class="dashboard__card-icon">
                        <i class="las la-file-invoice-dollar"></i>
                    </div>
                    <div class="dashboard__card-content">
                        <p class="info">Total Deposit</p>
                        <h3 class="title"><%= total_deposit.toLocaleString("en-US") %> USD</h3>
                    </div>
                </div>
            </div>
          </div>
          <div class="d-flex flex-wrap align-items-center justify-content-between mt-5 mb-4">
              <h3 class="title">Latest Transactions</h3>
              <!-- <select class="nice-select btn--round">
                  <option>Last Month</option>
                  <option>Last 3 Months</option>
                  <option>Last 6 Months</option>
              </select> -->
          </div>
            <div class="dashboard__table__container">
                <table class="table transection__table dashboard__table">
                    <thead>
                        <tr>
                            <th>Ref</th>
                            <th>Type</th>
                            <th>Currency</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% tx?.forEach(i => {%>
                            <tr style="width: 100%;">
                                <td data-label="Reference">
                                <p class="name"><%= i?._id %></p>
                                </td>
                                <td data-label="Transaction type"><%- include("partials/status", { name: i?.type }) %></td>
                                <td data-label="Currency"><span class="wallet"><%= i?.currency %></span></td>
                                <td data-label="Amount"><span class="date"><%= i?.amount?.toLocaleString("en-US") %></span></td>
                                <td data-label="Status"><span class="currency"><%- include("partials/status", { name: i?.status }) %></span></td>
                                <td data-label="Date"><span class="date"><%= i?.created_at %></span></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard Section Ends Here -->

<%- include('partials/footer') %>
<%- include('partials/scripts') %>