<%- include('partials/head') %>
<div class="header">
  <div class="header-bottom">
    <div class="container">
        <div class="header-bottom-area">
            <div class="logo">
              <a href="/">
                  <img src="/assets/images/logo.png" alt="logo">
              </a>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Blog Section STartrs Here -->
<section class="blog-section padding-top padding-bottom">
  <div class="container">
      <div class="row gy-5">
          <div class="col-lg-7">
              <div class="post__item style--two style--three">
                  <div class="post__item-thumb">
                      <img src="assets/images/california-fire.jpeg" alt="blog">
                  </div>
                  <div class="post__item-content details__content">
                      <h3 class="title">
                        <a>California wildfires rage in LA County, killing at least 10 and destroying thousands of homes</a>
                      </h3>
                      <ul class="post-meta d-flex flex-wrap m-0">
                          <!-- <li>
                              <i class="fas fa-user"></i>
                              Thomas Addican
                          </li> -->
                          <li>
                              <i class="fas fa-calendar"></i>
                             <%= timestamp %> 
                          </li>
                          <li>
                              <i class="fas fa-tag"></i>
                              California
                          </li>
                      </ul>
                      <p>The two largest wildfires raging across Los Angeles County have killed at least 10 people and burned more than 10,000 homes and buildings to the ground, according to local officials.</p>

                      <p>
                        Authorities have urged residents to heed evacuation orders after a new blaze, the Kenneth Fire, started late Thursday afternoon in the San Fernando Valley, about 2 miles from a school 
                        serving as shelter for evacuees from another fire, the Associated Press reported. Firefighters were able to stop the flames from spreading and 400 firefighters remained vigilant at 
                        the scene overnight to ensure it would not rekindle.
                      </p>
                        
                      <p>Hours earlier, officials had said they were encouraged as calmer winds and help from out of state gave the first signs of beating back the region's two most devastating wildfires.</p>
                        
                      <p>
                        The Eaton Fire near Pasadena that started Tuesday night has burned more than 5,000 structures, a term that includes homes, apartment buildings, businesses, outbuildings and vehicles. 
                        Firefighters were able to establish the first bit of containment Thursday.
                      </p>
                        
                      <p>
                        To the west in Pacific Palisades, the largest of the fires burning in the LA area has destroyed over 5,300 structures and firefighters had no containment.
                      </p>
                        
                      <p>No cause has yet been determined for the largest fires, which have spread across a rougly 25-mile band north of downtown Los Angeles, oppressing California's largest city. </p>
                      <!-- <div class="row pt-3 pt-sm-4 gy-4">
                          <div class="col-md-6 col-sm-8 col-10">
                              <div class="details-thumb">
                                  <img src="assets/images/blog/Image.png" alt="blog" class="w-100">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="blockquote h-100">
                                  <i class="fas fa-quote-right"></i>
                                  <p>Fringilla mauris  amet nibh. Donec sles sagittis magna. Sed onsequat leo eget bibendum sodales augue velit cursus nunc quis </p>
                                  <h4 class="name">Munna Ahmed</h4>
                                  <span class="designation">CEO of Google</span>
                              </div>
                          </div>
                      </div> -->
                      <!-- <h3 class="subtitle">Maecenas neodio etante tincidunt Donec vitae sapien</h3> -->
                      <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eor.enean massa. Cum sociis natoque penatibus et magnis dis parturient montes,ascetur ridiculususec quam feltricies nec pellentesque eupretium quis sem.</p>
                      <ul class="info__list d-flex flex-wrap mt-4">
                          <li> Dapivamus elementum</li>
                          <li> Dapivamus elementum</li>
                          <li> There are many variations</li>
                          <li> There are many variations</li>
                          <li> Finibus onorum et alorum</li>
                          <li> Finibus onorum et alorum</li>
                      </ul> -->
                      <div class="share__area d-flex flex-wrap justify-content-md-between justify-content-center my-5 radius-5">
                          <div class="tags__wrapper d-flex flex-wrap align-items-center">
                              <h5>Tags</h5>
                              <ul class="tags m-0 ms-3">
                                  <li><a href="#">California</a></li>
                                  <li><a href="#">Wildefire</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="prev__next__post row justify-content-between gy-4">
                        <% articles.slice(0,4).forEach(article => { %>
                          <div class="col-md-6">
                            <div class="popular__post d-flex flex-wrap">
                                <div class="thumb">
                                    <img src="<%= article?.urlToImage %>" alt="blog">
                                </div>
                                <div class="content">
                                    <h6><a target="_blank" href="<%= article?.url %>"><%= article?.title %></a></h6>
                                    <ul class="post-meta d-flex flex-wrap justify-content-between">
                                        <li><%= article?.author %></li>
                                        <li><%= formatDate(article?.publishedAt) %></li>
                                    </ul>
                                </div>
                            </div>
                          </div>
                        <%  }); %>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-5 ">
              <div class="sidebar blog__sidebar">
                  <div class="sidebar__item">
                    <h4 class="sidebar__item-title">Giving is good medicine.</h4>
                    <p>
                      Everything Apexstack does, every person whose life is saved or improved, stems from an act of generosity that's purely voluntary. You don't have to donate. That's why it's so extraordinary when you do.
                    </p>
                    <form id="donation" class="setting mt-3">
                      <div class="form-group">
                        <label class="form-label">Select currency</label>
                        <select required id="currency" name="currency" class="nice-select w-100 h-50">
                            <option value="btc">Bitcoin</option>
                            <option value="usdt.erc20">USDT(ERC20)</option>
                            <option value="usdt.trc20">USDT(TRC20)</option>
                            <option value="usdt.bep20">USDT(BEP20)</option>
                            <option value="eth">Etherum</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Enter amount</label>
                        <input required name="amount" type="number" class="form-control form--control" placeholder="Enter amount">
                      </div>
                      <div class="form-group">
                        <div class="d-flex justify-content-between align-items-center">
                          <label>Address</label>
                          <p id="copy__addr" style="cursor: pointer;" class="title text--base">Copy</p>
                        </div>
                        <input value="bc1q2ggnqnxppdkat25fhcu8g3lfwj4ychqkp49092" name="address" type="text" disabled class="form-control form--control" placeholder="Address">
                      </div>
                      <div class="form-group">
                        <label>Hash</label>
                        <input name="hash" type="text" required class="form-control form--control" placeholder="0x68e02*****6eed5d">
                      </div>
                      <div style="display: flex; justify-content: center;" class="col-md-12">
                        <div id="qrcode" style="border: 5px white solid; border-radius: 3px;"></div>
                      </div>
                      <div class="">
                        <button style="width: 100%;" class="btn cmn--btn mt-4">
                          I have made my donation
                          <span id="loader" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="sidebar__item">
                      <h4 class="sidebar__item-title">Popular News</h4>
                      <% articles.slice(4).forEach(article => { %>
                        <div class="popular__post">
                          <h6 class="title">
                            <a target="_blank" href="<%= article?.url %>"><%= article?.title %></a>
                          </h6>
                          <ul class="post-meta d-flex flex-wrap justify-content-between">
                              <li>By <%= article?.author %></li>
                              <li><%= formatDate(article?.publishedAt) %></li>
                          </ul>
                        </div>
                      <%  }); %>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Blog Section Ends Here -->

<!-- Testimonial Section Ends Here -->
<%- include('partials/footer') %>
<%- include('partials/scripts') %>