<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "404"}) %>

<!-- Error Section Starts Here -->
<div class="error-section padding-top padding-bottom overflow-hidden">
  <div class="container">
      <div class="row flex-column justify-content-center align-items-center">
          <div class="col-md-8 col-lg-7 col-xl-5">
              <div class="error__thumb mx-auto text-center">
                  <img src="/assets/images/account/Image.png" alt="account" class="w-100">
              </div>
              <div class="error__content mt-5">
                  <h2 class="title text-center">Oh No! Error 404</h2>
                  <p class="fs-large text-center">Page not found</p>
                  <!-- <ul class="info__list d-flex flex-wrap mt-4 text-left mb-1">
                      <li> Dapivamus elementum</li>
                      <li> Dapivamus elementum</li>
                      <li> There are many variations</li>
                      <li> There are many variations</li>
                      <li> Finibus onorum et alorum</li>
                      <li> Finibus onorum et alorum</li>
                  </ul> -->
                  <div class="button__wrapper mt-4 d-flex flex-wrap align-items-center justify-content-center">
                      <a href="/" class="cmn--btn">Back to Home</a>
                      <a href="/contact-us" class="text-center ms-3 text--base">Visit Our Help Center</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Error Section Ends Here -->

<%- include('partials/footer') %>
<%- include('partials/scripts') %>