<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "FAQs"}) %>

<!-- Faq Section Starts Here -->
<section id="faq" class="faq-section padding-top padding-bottom bg_img" style="background: url(assets/images/faq/bg.png);">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-7 col-md-10">
            <div class="section__header text-center max-p">
              <h2 class="section__header-title">Frequently Asked  Questions</h2>
              <p></p>
            </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-10">
              <div class="faq__wrapper">
                <div class="faq__item">
                    <div class="faq__item-title">
                        <h4 class="title">What is Apexstack?</h4>
                    </div>
                    <div class="faq__item-content">
                        <p>Apexstack is an investment firm dedicated to delivering superior long-term returns. Our investment strategy is free from geographic, industry, or market capitalization constraints, allowing us the flexibility to seize the best opportunities wherever they arise. We focus on rigorous risk management to protect against permanent capital loss while maximizing growth potential. Our commitment is to create value for our clients by navigating complex markets with expertise and foresight.</p>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="faq__item-title">
                        <h4 class="title">Is Apexstack officially Registered?</h4>
                    </div>
                    <div class="faq__item-content">
                        <p>Yes, Apexstack is a registered, authorised and regulated by the financial conduct authority in the UK with register Number: <strong>446720</strong>. We fully comply with all relevant legal and regulatory requirements to ensure the highest standards of compliance and transparency in our operations.</p>
                    </div>
                </div>
                <div class="faq__item active">
                    <div class="faq__item-title">
                        <h4 class="title">Where is the head office of Apexstack?</h4>
                    </div>
                    <div class="faq__item-content">
                        <p>Apexstack was established in 2001 in New Jersey and has since grown into a global investment firm with subsidiaries across the world. We are regulated by top-tier financial authorities in the United States, Japan, Canada, Australia, the UK, and the Cayman Islands, ensuring that our operations meet the highest standards of compliance and security worldwide.</p>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="faq__item-title">
                        <h4 class="title">How much can I earn by investing in Apexstack?</h4>
                    </div>
                    <div class="faq__item-content">
                        <p>We offer a range of investment options, each with varying yields based on the nominal value of the investment. We encourage you to explore our detailed investment proposals on the investment offer page to find the option that best suits your financial goals.</p>
                    </div>
                </div>
                  <div class="faq__item">
                      <div class="faq__item-title">
                          <h4 class="title">How do I open an account?</h4>
                      </div>
                      <div class="faq__item-content">
                          <p>To create an account, click the "Register" button in the top right corner of our website. Complete the registration steps and upload your documents for verification afterward.</p>
                      </div>
                  </div>
                  <div class="faq__item">
                      <div class="faq__item-title">
                          <h4 class="title">What payment system can I use when investing in your company?</h4>
                      </div>
                      <div class="faq__item-content">
                          <p>For seamless and secure transactions, we primarily accept Bitcoin as our preferred payment method. Additionally, we support payments in USDT (Tether) and Ethereum (ETH), offering you flexibility in choosing the cryptocurrency that best suits your needs.</p>
                      </div>
                  </div>
                  <div class="faq__item open">
                      <div class="faq__item-title">
                          <h4 class="title">How do I make a deposit?</h4>
                      </div>
                      <div class="faq__item-content">
                          <p>To make a deposit, log in to your dashboard, click on the "Deposit" tab, and select your preferred payment method. After completing the transaction, make sure to click the "I Have Made a Deposit" button to confirm your deposit.</p>
                      </div>
                  </div>
                  <div class="faq__item">
                      <div class="faq__item-title">
                          <h4 class="title">How do I place a withdrawal request</h4>
                      </div>
                      <div class="faq__item-content">
                          <p>To place a withdrawal request, log in to your dashboard, click on the "Withdraw" tab, fill out the withdrawal form, and submit your request. Please note that the minimum withdrawal amount is $30.</p>
                      </div>
                  </div>
                  <div class="faq__item">
                    <div class="faq__item-title">
                        <h4 class="title">Does winxcapital have an affiliate program?</h4>
                    </div>
                    <div class="faq__item-content">
                        <p>Yes, Apexstack offers a one-tier affiliate program. You can earn $10 for each deposit made by individuals you refer at the first level.</p>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Faq Section Ends Here -->

<%- include('partials/footer') %>
<%- include('partials/scripts') %>