<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "Forget Password"}) %>
<!-- Account Section Starts Here -->
<div class="account-section padding-top padding-bottom">
  <div class="container">
      <div class="row justify-content-between align-items-center">
          <div class="col-lg-6 col-xl-5 d-none d-lg-block">
              <div class="section__thumb rtl me-5">
                  <img src="/assets/images/account/thumb.png" alt="account">
              </div>
          </div>
          <div class="col-lg-6 col-xl-5">
            <div class="account__form__wrapper">
              <h3 class="title">Forget Password?</h3>
              <form id="forget-password" class="form account__form">
                <p class="mb-3"></p>
                <div class="form-group">
                  <input name="email" type="email" class="form-control form--control" placeholder="Enter your email address" required>
                </div>
                <button class="btn cmn--btn mt-4">
                  Forget password
                  <span id="loader" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
              </form>
              <p class="mt-4">Already you have an account in here? <a class="ms-2 text--base" href="/login">Sign In</a></p>
            </div>
          </div>
      </div>
  </div>
</div>
<!-- Account Section Ends Here -->

<%- include('partials/footer') %>
<%- include('partials/scripts') %>