<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "Indices"}) %>

<section class="blog-section padding-top padding-bottom">
  <div class="container">
      <div class="row gy-5">
          <div class="col-lg-10" style="margin: 0 auto;">
              <div class="post__item style--two style--three">
                  <div class="post__item-thumb">
                      <img src="/assets/images/forex-3.jpeg" alt="blog">
                  </div>
                  <div class="post__item-content details__content">
                      <h3 class="title"><a>INDICES</a></h3>
                      <h3 class="subtitle">What are indices</h3>
                      <p>Indices (also known as stock indexes) represent the value of a group of assets or stocks listed on a particular exchange. Major financial indices include the Dow Jones Industrial Average, ASX 200, Hang Seng, China A 50 and Straits Times Index. Different indices (or indexes) have their own criteria for determining constituent stocks.</p>
                      <p>The Dow Jones Index represents 30 large public-listed companies traded on the New York Stock Exchange weighted by price, whereas the FTSE 100 represents 100 of the largest blue-chip companies in the UK weighted by market capitalisation.</p>
                      <p>At Apexstack, we offer CFDs on most major global indices, including the AUS 200, HK 50, CHINA 50 and SING 30. When the price of stocks listed on an index rise, the price of the index goes up. When the prices of stocks listed on an index go down, the value of the index falls along with it.</p>
                      <p>Indices have the advantage of allowing traders to take a wider view of a basket of stocks rather than taking a view on one individual stock alone. Online CFD and futures based indices are offered on all platforms.</p>
                      <p>Stock indices give you a chance to invest an opinion of an economy without having to pick individual stocks. CFD investment is one of the most popular products to invest.</p>

                      <h3 class="subtitle">How to determine if a client is entitled dividend from Index AUS200?</h3>
                      <div class="post__item-thumb">
                        <img src="/assets/images/forex-4.jpeg" alt="blog">
                      </div>
                      <p>The foreign currency exchange offers an abundance of potential opportunities for veteran traders as well as those new to the markets. If you are searching for a target-rich environment for active trading, look no further than the forex.</p>

    
                      <h3 class="subtitle">Stock Index CFD: Invest on Margin</h3>
                      <p>Investing in stocks has a wide appeal globally, but the barrier to entry can often be high. Say you want to invest in an economy through an index to attempt to mirror the performance of that economy. You could simply buy shares in all the stocks on the index, but that could get costly, especially in light of broker's fees for transactions. Some turn to the futures market, investing the index through an ETF. The ETF is a fund that has shares in all the stocks in the index. With ETFs, you generally have 100% margin, meaning you have to put up the full value of the index to participate.</p>
                      <ul class="info__list mt-4">
                        <li style="width: 100%">Apexstack's index products, however, are invested as contracts for difference (CFDs). With CFDs, you can place invests on margin. You put up a fraction of the capital and still get the full value of the invest. But that's not all.</li>
                        <li style="width: 100%">investing indices as CFDs removes the barrier to investing. When you invest on the futures market, you have settlement periods. Short selling is typically impossible without a significant account balance. Plus the fees for each transaction are significant.</li>
                        <li style="width: 100%">Index CFDs, on the other hand, have no settlement periods, short selling is available, and you only pay the spread. With CFDs, you can scalp the market much more easily, decrease your risk exposure and be able to enter the market with lower capital requirements in your account.</li>
                      </ul>
                      <h3 class="subtitle">How an Index CFD investment Works</h3>
                      <p>Want an ideal environment to invest US, European, Asian and Australian stock markets? We offer scalpers, news and EA investors with enhanced execution on index CFDs, which we believe can be considered as one of the most unique offerings in the industry.</p>

                      <h3 class="subtitle">Why Invest Indices with Elite Mining Firm?</h3>
                      <ul class="info__list mt-4">
                        <li style="width: 100%">
                            <strong>No Minimum Stop Distance:</strong>
                            Apexstack's Enhanced CFD Execution means you invest without minimum stop distances on most products, including US30, NAS100 and the GER30. Most strategies welcome.
                        </li>
                        <li style="width: 100%">
                            <strong>Lower Transaction Costs:</strong>
                            invest commission free with no exchange fees—your transaction cost is the spread.
                        </li>
                        <li style="width: 100%">
                            <strong>invest on Margin</strong>
                            Set aside a fraction of the total investment size for global indices.
                        </li>
                        <li style="width: 100%">
                            <strong>invest Sizes - Micro CFDs</strong>
                            Micro-contract sizes give you the flexibility to risk less per invest.                        
                        </li>
                      </ul>
                      <p>With Apexstack's index products, you can also invest in bear markets with more ease than in the stock market. Think a market will fall? Sell it just as easily as you can buy rising markets.</p>
                      
                      <%
                        const indices = [
                            {title: "US2000", subtitle: "The US2000's underlying instrument is the E-Mini Russell 2000 Future, The Russel 2000 Index measures the performance of 2000 small-cap companies from within the Russel 3000 Index and is the most widely quoted benchmark to track the performance of small- cap stocks in the United States."},
                            {title: "US30", subtitle: "The US30's underlying instrument is the DJIA (the Dow Jones) MINI e-CBOT. The Dow Jones Consists of 30 major American companies: AMEX, Boeing, Chevron, Coca-Cola, DuPont, GE, Goldman Sachs, Intel, IBM, Microsoft, Nike and more."},
                            {title: "SPX500", subtitle: "The SPX500's underlying instrument is the S&P 500 stock market index, maintained by S&P Dow Jones Indices, which comprises 500 large-cap American companies covering about 75% of the American equity market by capitalization, such as Delta, eBay, Halliburton and Yum! Brands. The S&P 500 was developed and continues to be maintained by S&P Dow Jones Indices, a joint venture majority-owned by McGraw Hill Financial that publishes many stock market indices such as the S&P Midcap 400, the S&P Small Cap 600 and the S&P Composite 1500."},
                            {title: 'NAS100', subtitle: "The NAS100's underlying instrument is the NASDAQ100 stock market index. This index includes 100 companies from a broad range of industries with the exception of those that operate in the financial industry, such as banks and investment companies. Companies include Apple, Adobe Systems, Amazon, Cisco Systems, Google, Intel, Facebook and others."},
                            {title: "UK100", subtitle: "The UK100's underlying instrument is the FTSE 100 index future. This is an index of the 100 companies listed on the London Stock Exchange with the highest market capitalization. In the FTSE indices, share prices are weighted by market capitalization, so that the larger companies make more of a difference to the index than smaller companies. Companies include GlaxoSmithKline, HSBC and Royal Dutch Shell."},
                            {title: 'GER30', subtitle: "The GER30's underlying instrument is the DAX index future. The DAX is a blue-chip stock market index consisting of the 30 major German companies investing on the Frankfurt Stock Exchange: BASF, SAP, Bayer, Allianz and others."},
                            {title: "ESP35", subtitle: "The ESP35's underlying instrument is the IBEX35 index future. This is the benchmark stock market index of the Bolsa de Madrid, Spain's principal stock exchange. This index includes 35 companies from a broad range of industries: Banco Popular, Acciona, Bankia, Bankinter, Santander, Repsol, Gas Natural, Telefonica and more."},
                            {title: "FRA40", subtitle: "The FRA40's underlying instrument is the CAC40 index future. This is the benchmark stock market index of the Euronext Paris: Airbus, Alcatel-Lucent, AXA, BNP Paribas, L'Oreal, Orange, Vivendi, Societe Generale, Renault, Michelin, Solvay and more."},
                            {title: 'HKG33', subtitle: "The HKG33's underlying instrument is the Mini-Hang Seng future. This is the benchmark stock market index of Hong Kong. Four sub-indices were established in order to make the index clearer and to classify constituent stocks into four distinct sectors. There are 50 HSI constituent stocks in total, including: Hang Seng Finance Sub-index, Hang Seng Utilities Sub-index, Hang Seng Properties Sub-index, Hang Seng Commerce & Industry Sub-index."},
                            {title: "JPN225", subtitle: "The JPN225's underlying instrument is the Nikkei 225 Mini future. This is the benchmark stock market index for the Tokyo Stock Exchange (TSE)."},
                            {title: "AUS200", subtitle: "The AUS200's underlying instrument is the S&P/ASX 200, which measures the performance of the 200 largest index-eligible stocks listed on the Australian Stock Exchange by float-adjusted market capitalization."},
                            {title: "EUSTX50", subtitle: "The EUSTX50's underlying instrument is the Euro Stoxx 50 Future. The Euro Stoxx 50 is an index of European listed shares is a stock index of Eurozone stocks designed by Stoxx Ltd, an index provider owned by Deutsche Börse and SIX Group and contains the largest companies in Europe—Allianz, Deutsche Bank, Inditex, Repsol, Unilever and more—and is used as a gage for the state of Europe's economy."},
                            {title: "CHN50", subtitle: "The CHN50 has the FTSE China A50 Index as its underlying reference. The FTSE China A50 Index is a real-time tradable index comprising the largest 50 'A' Share companies listed on the Shanghai Stock Exchange and Shenzhen Stock Exchange. It is the benchmark index for investors looking to access and invest the performance of the China domestic market."}
                        ]
                      %>
                    <h3 class="subtitle">Index Symbol Information</h3>
                    <ul class="info__list mt-4">
                        <% indices.forEach(index => { %>
                            <li style="width: 100%">
                                <strong><%= index?.title %>:</strong>
                                <%= index?.subtitle %>
                            </li>
                        <% }) %>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<%- include('partials/footer') %>
<%- include('partials/scripts') %>