<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "Investments"}) %>

<!-- Dashboard Section Starts Here -->
<div class="dashbaord-section padding-bottom">
  <div class="container">
    <div class="row">
      <%- include('partials/sidebar', {active: "investments"}) %>
      <div class="col-lg-8 col-xl-8 col-xxl-9">
        <div class="dashboard__wrapper">
          <%- include('partials/dashboard-header', {name: "Investments"}) %>
            <div class="dashboard__table__container">
              <table style="width: 100%;" class="table mt-5 table-responsive transection__table dashboard__table">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Amount</th>
                      <th>Profit</th>
                      <th>Status</th>
                      <th>Date</th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                  <% data.docs.forEach(i => { %>
                    <tr>
                      <td data-label="Reference">
                        <p class="Plan name"><%= i?.plan %></p>
                      </td>
                      <td data-label="Capital"><span class="amount">$<%= i?.capital %></span></td>
                      <td data-label="Profit"><span class="amount">$<%= i?.profit %></span></td>
                      <td data-label="Status"><%- include("partials/status", { name: i?.status }) %></td>
                      <td data-label="Date"><span class="date"><%= i?.created_at %></span></td>
                      <td data-label="">
                        <% if(i?.status === "active") { %>
                        <button data-inv="<%= i?._id  %>" class="cmn--btn inv__withdrawal" style="width: fit-content; font-size: 14px; padding: 2px 15px;">
                          Withdraw
                          <span id="loader" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        </button>
                        <% } %>
                      </td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
            <%- include('partials/pagination', { ...data, path: "investments"}) %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard Section Ends Here -->
<%- include('partials/scripts') %>