<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "KYC"}) %>

<!-- Dashboard Section Starts Here -->
<div class="dashbaord-section padding-bottom">
  <div class="container">
    <div class="row">
      <%- include('partials/sidebar', {active: "kyc"}) %>
      <div class="col-lg-8 col-xl-8 col-xxl-9">
        <div class="dashboard__wrapper">
          <%- include('partials/dashboard-header', {name: "KYC"}) %>
          <div class="">
            <div class="row">
              <div class="col-lg-6 mt-5">
                <div class="dashboard__form">
                  <div>
                    <form id="kyc" class="setting mt-3">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Identification Documents (National ID, International Passport etc..)</label>
                            <input name="docs" type="file" class="form-control" placeholder="Last name">
                          </div>
                          <div class="form-text" id="basic-addon4">Documents shouldn't exceed 200KB.</div>
                        </div>
                        <div class="col-md-12">
                          <button class="btn cmn--btn mt-4">
                            Submit document
                            <span id="loader" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard Section Ends Here -->

<%- include('partials/scripts') %>