<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "Real Estate"}) %>

<section class="blog-section padding-top padding-bottom">
  <div class="container">
      <div class="row gy-5">
          <div class="col-lg-10" style="margin: 0 auto;">
              <div class="post__item style--two style--three">
                  <div class="post__item-thumb">
                      <img src="/assets/images/realestate.png" alt="blog">
                  </div>
                  <div class="post__item-content details__content">
                      <h3 class="title"><a>REAL ESTATE</a></h3>
                      <p>As one of the world's largest investors in real estate, we own and operate iconic properties in the world's most dynamic markets. Our global portfolio includes office, retail, multifamily, logistics, hospitality, triple net lease, manufactured housing and student housing assets on five continents. Our goal is to generate stable and growing distributions for our investors while protecting them against downside risk. Our assets are diversified by sector and geography, reducing exposure to movement in any single market and minimizing volatility. In our public and private investment vehicles, we seek to generate superior returns by leveraging our operating expertise and focusing on our core real estate capabilities—leasing, financing, development, design and construction, and property and facilities management.</p>
                      <p>Apexstack Real Assets business is fully integrated with Apexstack Finance Limited private equity and credit businesses and follows the same value-driven philosophy. Our experience in real estate principal investing, as investor and asset manager, spans market cycles and captures every level of the capital structure.

                        Our Real Assets team provides deep knowledge and extensive industry relationships. We have offices in North America, Europe and Asia, and actively pursue investment opportunities in each region. Wincrypto Finance Limited tackles complexity to create value by thoughtfully identifying pockets of opportunity and relying on a flexible mandate to structure the best risk reward and rigorous asset management to maximize value.</p>

                      <h3 class="subtitle">Real Estate Private Equity</h3>
                      <div class="post__item-thumb">
                        <img src="/assets/images/realestate-3.jpg" alt="blog">
                        </div>
                      <p>Apexstack Limited real estate private equity business has a proven investment track record. It orients around thesis-driven strategies guided by the identification and analysis of disruptive forces, demographic trends, and market dislocations or pockets of distress. This enables us to invest across market cycles and sub-markets, and into both traditional and niche asset classes. Across the real estate private equity business, we employ an opportunistic, value-driven style and a flexible approach to acquire real estate assets, portfolios, and companies and provide servicing or structured credit solutions, through regionally-focused funds. Apexstack Limited looks for value in complex investments that most investors lack the inclination, resources, or ability to distill. We emphasize capital preservation and defensive positioning to build scalable platforms in partnership with strong, seasoned management teams.</p>
                      <p>The real estate funds and accounts managed by Apexstack Limited invest in a broad spectrum of property types and throughout the capital structure.</p>
                      <h3 class="subtitle">Real Estate Credit</h3>
                      <p>Apexstack Limited real estate debt platform manages and invests on behalf of Apexstack Limited public and private vehicles that invest in commercial real estate debt, including Winx Group Commercial Real Estate Finance, Inc. (NYSE:ARI), a publicly traded commercial mortgage REIT. The funds we manage have originated and invested in commercial real estate debt opportunities across the spectrum, including mortgages, mezzanine loans, preferred equity and CMBS, across the United States and in Western Europe. Our comprehensive, balance sheet-style lending capabilities and deep relationships with repeat borrowers have earned Winx Group a reputation as a flexible and efficient capital solutions provider.</p>

                      <h3 class="subtitle">Our Strategies</h3>
                      <h4>Core/Core-Plus</h4>
                      <p>Our U.S. core/core-plus real estate strategy focuses on the acquisition of assets with strong long-term cash flow potential and durable tenancy diversified across end-user industries and geographies. Ares predominately targets industrial real estate in top-tier primary and regional distribution markets with an additional focus on other major sectors including multifamily, office, necessity-based retail and other select property types across the U.S. The strategy may also include small components of our Value-Add and Opportunistic strategies as described below.</p>

                      <h4>Value-Add</h4>
                      <p>Our U.S. and European value-add strategy focuses on undermanaged and under-funded income-producing assets, including multifamily, office, hotel, industrial, and mixed-use retail properties across the United States and Western Europe. The strategy seeks to create value and generate stable and growing distributions to investors by buying properties at attractive valuations, implementing asset management initiatives to increase income and identifying multiple exit strategies upfront.</p>
                      
                      <h4>Opportunistic</h4>
                      <p>Our U.S. and European opportunistic real estate strategy capitalizes on increased investor demand for developed and stabilized assets by focusing on the repositioning of asserts, capitalization of distressed and special situations, and development of core-quality assets across all major property types including multifamily, hotel, office, retail and industrial properties throughout the United States and Europe.</p>

                      <h3 class="title"><a>TARGETED INVESTMENTS</a></h3>
                      <h3 class="subtitle">Real Estate Equity Strategies</h3>
                      <p>Our Management Corporation’s Real Estate Equity strategy focuses on cash flowing quality assets and de-risked developments with an opportunity to create value through repositioning, lease-up, re-tenanting, redevelopment, and/or complex recapitalizations. Our strategy targets primary property types located in liquid markets with diversified economies where we seek to deliver compelling, risk adjusted returns through a combination of asset selectivity and disciplined portfolio management.</p>
                      <p>Our Real Estate Group’s U.S. Equity platform implements real estate investment strategies that span the risk spectrum, with a footprint in 10 cities.</p>
                      <p>Our European Real Estate segment began in 1995. The investment team includes approximately 30 investment professionals with personnel based out of London, Paris and Luxembourg, with coverage of Frankfurt, Madrid and Stockholm.</p>
                      <p>Across the U.S. and Europe, we believe our teams have the experience to identify property types with favorable risk adjusted returns in a given cycle, underwrite and execute these types of deals and then monetize investments delivering attractive risk-adjusted returns to investors.</p>

                      <h3 class="subtitle">Targeted Investment Characteristics </h3>
                      <div class="row pt-3 pt-sm-4 gy-4">
                        <div class="col-md-6 col-sm-8 col-10">
                            <div class="details-thumb">
                                <img src="/assets/images/realestate-2.png" alt="blog" class="w-100">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blockquote h-100">
                                <p>Asset values of $10-250 million Attractive basis with above-average supply/demand dynamics Solid credit fundamentals Strong market position with competitive economic advantage Experienced, properly-incentivized sponsorship team with demonstrated track record Appropriately structured and documented investment Return opportunity that compensates for perceived risk</p>
                            </div>
                        </div>
                    </div>
                    <h3 class="subtitle">Potential Benefits for our Investors:</h3>
                      <ul class="info__list d-flex flex-wrap mt-4">
                          <li> Alignment of interests with our investors</li>
                          <li> Consistent, compelling performance across real estate equity and debt strategies</li>
                          <li> Dedicated and cycle-tested property professionals with local market experience and relationship networks</li>
                          <li> Complementary strategies to meet investor objectives across cycles</li>
                          <li> Synergistic Ares platform with a well-informed global view, access to relationships and operational benefits</li>
                          <li> Stable and growing income and/or capital appreciation from investments</li>
                          <li>Disciplined growth with a focus on long-term value creation and capital preservation</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<%- include('partials/footer') %>
<%- include('partials/scripts') %>