<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "Account settings"}) %>

<!-- Dashboard Section Starts Here -->
<div class="dashbaord-section padding-bottom">
  <div class="container">
    <div class="row">
      <%- include('partials/sidebar', {active: "settings"}) %>
      <div class="col-lg-8 col-xl-8 col-xxl-9">
        <div class="dashboard__wrapper">
          <%- include('partials/dashboard-header', {name: "Settings"}) %>
          
          <div class="">
            <div class="row">
              <div class="col-lg-6 mt-5">
                <div class="dashboard__form">
                  <h3 class="title">Profile info</h3>
                  <div id="avatar-form" class="my-3 d-flex justify-content-center">
                    <label for="image" class="thumb" style="position: relative;">
                      <img src="<%= user?.avatar %>" alt="dashboard">
                      <div style="background-color: white; display: flex; justify-content: center; align-items: center; width: 25px; height: 25px; position: absolute; right: -3px; bottom: -3px; border-radius: 100px;">
                        <i class="las la-user-edit " style="color: #1A1A33;"></i>
                      </div>
                    </label>
                    <input type="file" id="image" name="avatar" hidden />
                  </div>
                  <div>
                    <form id="profile" class="setting mt-3">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>first name</label>
                            <input 
                              name="first_name" 
                              class="form-control form--control" 
                              value="<%= user?.first_name %>" 
                              placeholder="First name"
                            >
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Last name</label>
                            <input 
                              name="last_name"
                              value="<%= user?.last_name %>" 
                              class="form-control form--control"
                              placeholder="Last name"
                            >
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Email</label>
                            <input 
                              type="email" 
                              disabled
                              value="<%= user?.email %>"
                              class="form-control form--control" 
                              placeholder="Email address"
                            >
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Phone</label>
                            <input 
                              name="phone_number" 
                              value="<%= user?.phone_number %>"
                              class="form-control form--control" 
                              placeholder="Phone number"
                            >
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Address</label>
                            <input 
                              name="address" 
                              value="<%= user?.address %>" 
                              class="form-control form--control" 
                              placeholder="Address"
                            >
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button class="btn cmn--btn mt-4">
                            Update profile
                            <span id="loader" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-6 mt-5">
                <div class="dashboard__form">
                  <h3 class="title">Change Password</h3>
                  <div>
                    <form id="password" class="setting mt-3">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Current password</label>
                            <input name="old_password" type="password" class="form-control form--control" placeholder="Enter your current password">
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>New password</label>
                            <input name="new_password" type="password" class="form-control form--control" placeholder="Enter a new password">
                          </div>
                        </div>
                        <!-- <div class="col-md-12">
                          <div class="form-group">
                            <label>Confirm Password</label>
                            <input name="new_password" type="password" class="form-control form--control" placeholder="Re-enter password">
                          </div>
                        </div> -->
                        <div class="col-md-12">
                          <button class="btn cmn--btn mt-4">
                            Update password
                            <span id="loader" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard Section Ends Here -->
<%- include('partials/scripts') %>