<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', { name: "Terms & Conditions" }) %>

<div class="privacy-policy padding-top padding-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <ul class="privacy__tab__menu transection__tab__menu d-flex flex-wrap justify-content-center">
          <li><a class="cmn--btn2 active" href="#overview">Overview</a></li>
          <li><a class="cmn--btn2" href="#transaction">Transaction</a></li>
          <li><a class="cmn--btn2" href="#margin">Margin</a></li>
          <li><a class="cmn--btn2" href="#account">Closing An Account</a></li>
          <li><a class="cmn--btn2" href="#general">General Provisions</a></li>
        </ul>
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-8">
            <div class="privacy__card" id="overview">
              <h3 class="privacy__card-title">Overview</h3>
              <p>
                This client agreement (the Agreement)is entered by and between Stakenode (the company) and the person and/or legal entity that has applied to open a trading account at the Company’s Binary Options trading platform (the Client), according to the terms and conditions detailed in this agreement.</p>
              <br />
              <p>Trading in Binary Options (Trading), means that a contract is being created which gives the Client the right to estimate the direction of change in price of an underlying asset, within a certain time frame determined by the Company. This trading instrument is different from trading in trading in options in a traditional way, since there is a fixed return that is determined at the outset of the trade, such as: there is usually no Stop-Loss order and other features.</p>
              <br />
              <p>Account Opening Client may apply for an account through the Company’s website and the Company will accept such account opening application (the Trading Account) under the following terms: (i) the Company has received confirmation that the Client has agreed to enter into this Agreement (such confirmation can be made by checking the AGREE button or link on the Company’s Internet website (the Website), followed by a completed application form (if applicable) and all other Client’s information required by the Company to be provided. The Client confirms that Client’s information is full, accurate and complete. If there is a change in the information provided by the Client, the Client must notify the Company immediately of any such change.</p>
              <br />
              <p>Usage of the Trading Platform is done through the Account, by a limited license provided by the Company to the Client. The license is personal, non-transferable and is for persons who are older than 18 years old (or older legal age, if the law applicable to the Client’s jurisdictions requires a higher legal age) and subject to this Agreement. The Client will not transfer, assign, or enable other to make any use of the license, and/or give the Clients access codes to the Trading Account to anyone. Any damage caused to the Client, the Company and any third party due to breach of this Agreement by Client, shall be under the Client’s sole responsibility.</p>
              <br />
              <p>Activation of the Trading Account The Account will be activated by the Company as soon as the Company has identified the funds credited by the Client to the Trading Account. The Company may activate the Trading Account and permit trading in the Trading Account subject to such limitations, and to the satisfaction of such further requirements as the Company may impose. Where a Trading Account is not activated or is frozen, no funds held by the Company in respect of that Trading Account may be transferred back or to any other person until the Company is satisfied that all Applicable Regulations have been complied with.</p>
              <br />
              <p> The Company may act, according to the Company’s sole discretion, as principal or as agent on the Client’s behalf in relation to any Transaction entered into pursuant to the Agreement. Therefore the Company may act as the counter party to the Clients Trading activity. The Client confirms that it acts as the sole principal and not as agent or trustee on behalf of someone else.</p>
              <br />
              <p> The Client hereby represents and warrants that his engagement with the Company in this Agreement and his use of the Company’s services are in full compliance with the law applicable to the Client.</p>
            </div>
            <div class="privacy__card" id="transaction">
              <h3 class="privacy__card-title">THE TRANSACTIONS</h3>
              <p>The Trading Platform enables Binary Options trading in exchange rates of different currencies, commodities, and any other financial instruments made available by the Company. The Trading Platform displays indicative quotes of exchange rates of different financial instruments pairs, based on different financial information systems, as the most updated exchange rates in the international capital markets. For determining the quotes for different time periods, the platform is making mathematical calculations according to known and accepted capital markets formulas. It is acknowledged by both Parties that due to different calculation methods and other circumstances, different trading platforms and/or markets may display different price quotes.</p>
              <br />
              <p>The Client will receive a predetermined pay-out if his binary option transaction expires in-the-money, and he will lose a predetermined amount of his investment in the Transaction if the option expires out-of-the-money. The predetermined amounts are a derivative of the collateral invested in the transaction by the Client, and will be published in the Trading Platform. The degree to which the option is in-the-money or out-of-the-money does not matter as it does with a traditional options</p>
              <br />
              <p>Account Opening Client may apply for an account through the Company’s website and the Company will accept such account opening application (the Trading Account) under the following terms: (i) the Company has received confirmation that the Client has agreed to enter into this Agreement (such confirmation can be made by checking the AGREE button or link on the Company’s Internet website (the Website), followed by a completed application form (if applicable) and all other Client’s information required by the Company to be provided. The Client confirms that Client’s information is full, accurate and complete. If there is a change in the information provided by the Client, the Client must notify the Company immediately of any such change.</p>
              <br />
              <p> The Client authorizes the Company to rely and act on any order, request, instruction or other communication given or made (or purporting to be given or made) by the Client or any person authorized on the Client’s behalf, without further inquiry on the part of the Company as to the authenticity, genuineness authority or identity of the person giving or purporting to give such order, request, instruction or other communication. The Client will be responsible for and will be bound by all obligations entered into or assumed by the Company on behalf of the Client in consequence of or in connection with such orders, requests, instructions or other communication.              </p>
              <br />
              <p>The Company reserves the right, but not obliged to the following: to set, at its absolute discretion, limits and/or parameters to control the Client’s ability to place orders or to restrict the terms on which a Transaction may be made. Such limits and/or parameters may be amended, increased, decreased, removed or added to by the Company.</p>
              <br />
              <p>Arbitrage/cancellation of orders and transactions. The Company does not allow actions or non-actions based on arbitrage calculations or other methods that are based on exploitation of different systems or platforms malfunction, delay, error etc. The Company is entitled, by its own discretion, to cancel any transaction that has been executed due or in connection with an error, system malfunction, breach of the Agreement by Client etc. The Company’s records will serve as decisive evidence to the correct quotes in the world capital markets and the wrong quotes given to the Client; The Company is entitled to correct or cancel any trade based according to the correct quotes.              </p>
              <br />
              <p>Cancel Feature Abuse</p>
              <p>Company offers a special cancellation feature that allows traders to cancel a trade within a few seconds of execution. Abuse of the cancellation feature can be considered market arbitrage and can result in forfeiture of profits. Company reserves the right to cancel a position if the cancellation feature is abused. The acceptable cancellation percentage cannot exceed 20% of the total number of executed trades. Cancelling more than 20% of the total number of executed trades is considered abuse of this feature and resulting profits may be forfeited from such abuse.</p>
            </div>
            <div class="privacy__card" id="margin">
              <h3 class="privacy__card-title">Margin</h3>
              <p>The Client may transfer funds to the Company with different methods of payment as permitted by the Company from time to time and in any currency (acceptable by the Company), and such funds will be converted and managed in the Trading Platform in US Dollars and/or Euro and/or GBP and/or CAD and/or AUD, as determined by the Company, according to an exchange rate determined by the Company’s according to the available market rates.</p>
              <br />
              <p>When making a bank transfer, the Client must send the Company an authentic SWIFT confirmation, stating full bank account details and proof that the bank account is registered under its name. Non-delivery of the SWIFT confirmation or in case that the details do not conform to the Client’s details registered at the Company may result in the funds not being credited to the Client’s Trading Account.</p>
              <br />
              <p>Whenever the Client transfers funds to the Company, those funds belong to the Company and will be treated by it as its own for the purpose of securing or covering the Client’s present, future, actual, contingent or prospective obligations, subject only to any contractual obligation of the Company to pay or return money to the Client according to the terms of this Agreement. The Client will not have a proprietary claim over money transferred to the Company, and the Company can deal with it in its own right. In determining the amount of collateral and the amount of the Company’s obligations to pay or return money to the Client, the Company may apply such methodology (including judgments as to the future movement of markets and values), as the Company considers appropriate.</p>
              <br />
              <p>The Funds deposited with the Company by the Client, together with any Profit or other Benefits the Client may be entitled to according to a specific agreement with the Company, shall be used as security to any Transaction, including Trading Losses, Commission and any other fee or debt owed by the Client to the Company, which will be automatically deducted from the Client’s equity in the Trading Account. The Client’s Funds shall not accumulate any interest or any other benefits. Trading in binary options that relate to a reference security shall not grant the Client any right to dividends, voting, allocations or any other Benefits, but may be subject to adjustments according to financial or corporate events which may have an effect the reference security, such as distribution of dividends, splits etc.</p>
              <br />
              <p> Repayment of any funds by the Company to the Client will be in the same currency and to the same account/credit card from which the funds were originally transferred, unless the Company has decided, by its own discretion, to return the funds to a different account of the Client.              </p>
              <br />
              <p>The Client declares that all funds that it transfers to the Company do not derive from any criminal or other illegal activity and without any violation of any applicable anti money laundering laws and regulations.</p>
              <br />
              <p>The Client will have no claim against the Company and will not hold the Company responsible for any delay and/or differences originating from a credit company’s, banks or other financial institutions rates calculation and/or commission and/or any other debit.</p>
              <br />
              <p>Withdrawals In case the Client gives an instruction to withdraw funds from the Trading Account, the Company shall pay the specified amount (less any transfer charges, if applicable) once a duly instruction has been accepted and at the moment of payment, the Client’s margin requirements have been met. Withdrawal procedure takes 7 business days once Client’s documentation submitted and approved. The Company may cancel the Client’s withdrawal order, if, according to the Company’s discretion, the remaining funds (after the withdrawal) shall not be sufficient to secure open Position(s) in the Trading Account.</p>
              <br />
              <p>The Company shall debit the Client’s Trading Account for all payment charges. If the Client has the obligation to pay any amount to the Company which exceeds the amount held in the Client’s Trading Account, the Client shall immediately pay such amount upon Company’s request.</p>
              <br />
              <p>The Company shall not provide physical delivery in relation to any Transaction. As mentioned above, Profit or loss is credited to or debited to or from the Trading Account (as applicable) once the Transaction is closed.</p>
              <br />
              <p> A trading volume of deposit X 20 is required in order to make a withdrawal and also bonus amount X 50 to withdraw the Bonus.</p>
            </div>
            <div class="privacy__card" id="fees">
              <h3 class="privacy__card-title">Fees & Charges</h3>
              <p>The Company does not charge brokerage fees or commissions for executing trades.</p>
              <br />
              <p>The Company charges a fee for transfers of funds standing to the credit of a Trading Account from the Company to the Client, currently equivalent to 35 units per transfer.</p>
              <br />
              <p>The Company may levy an additional charge(s) on transfers of funds to be credited to a Trading Account made by debit card or credit card.
              </p>
              <br />
              <p>The Company may introduce additional fees and charges, and may change any existing fees and charges, at any time, by giving the Client not less than 10 Business Days notice of such changes.</p>
            </div>
            <div class="privacy__card" id="bonuses">
              <h3 class="privacy__card-title">Bonuses</h3>
              <p>In order to withdraw your bonus you must first complete a turnover of bonus amount x50.</p>
              <br />
              <p>Company may offer the Client Bonus as Credit or tangible gifts, from time to time, at its sole discretion.</p>
              <br />
              <p>Bonuses and profits that are based, even partially, on use of bonus credit, shall be forfeited in case the Company suspects any act of fraud or breach of the Company’s Terms and Conditions by Client.</p>
            </div>
            <div class="privacy__card" id="account">
              <h3 class="privacy__card-title">Closing An Account and Cancellation of the Agreement</h3>
              <p>Either party may terminate this Agreement by giving 10 (Ten) business days written notice by email to support@Cryptoglobalinvestments.com, of termination to the other party. Either party may terminate this Agreement immediately in any case of any breach of this Agreement or event of Default by the other Party. Upon terminating notice of this Agreement, Client shall be under the obligation to close all open positions, otherwise, the notice shall become void, or the Company shall have the right to close all open positions without assuming any responsibility. Such closer may result in outcome that would be less favorable for the Client.</p>
              <br />
              <p>Termination shall not affect any outstanding rights and obligations according to the applicable law and the provisions of this this Agreement.</p>
              <br />
              <p>Upon termination, all amounts payable by Either Party to the other Party will become immediately due.
              </p>
            </div>
            <div class="privacy__card" id="limit">
              <h3 class="privacy__card-title">Limitations of liability and indemnities</h3>
              <p> THE SERVICES OF THE COMPANY ARE PROVIDED AS IS AND AS AVAILABLE, AND COMPANY MAKES NO WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANT ABILITY AND FITNESS FOR PARTICULAR PURPOSE. THE COMPANY DOES NOT WARRANT THAT ANY AFFILIATED SOFTWARE, SERVICES OR COMMUNICATION THAT MAY BE OFFERED OR USED BY THE CLIENT SHALL ALWAYS BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. THE COMPANY WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM TRADING OR THE USE OF THE COMPANY’S SERVICES, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES.</p>
              <br />
              <p>Client acknowledges and agrees that the Trading Platform follows the relevant market, whether the Client is in front of his computer or not, and whether the Clients computer is switched on or not, and will exercises the order left by the Client if applicable.              </p>
              <br />
              <p>The Client shall, upon first demand by the Company, compensate the Company from and against all liabilities, damages, losses and costs (including reasonable legal costs), duties, taxes, charges, commissions or other expenses incurred by the Company.</p>
              <br />
              <p> The Company shall have the right to set-off any amount owed by the Company to the Client, against any debt or other obligation of the Client towards the Company. In any event of Default of Client (voluntary or involuntary insolvency procedures against the Client) all debts, future debts and other obligations of the Client towards the Company shall become immediately due.</p>
            </div>
            <div class="privacy__card" id="general">
              <h3 class="privacy__card-title">General Provision</h3>
              <p>Amendments The Company has the right to amend the Agreement without obtaining any prior consent from the Client. If the Company makes any material change to the Agreement, it will give at least 10 (Ten) Business Days notice of such change to the Client. Such amendment will become effective on the date specified in the notice. Unless otherwise agreed, an amendment will not affect any outstanding order or Transaction or any legal rights or obligations which may already have arisen.</p>
              <br />
              <p>Partial invalidity- If, at any time, any provision of this Agreement is or becomes illegal, invalid or unenforceable in any respect under the law of any jurisdiction, neither the legality, validity or enforce ability of the remaining provisions of this Agreement nor the legality, validity or enforce ability of such provision under the law of any other jurisdiction shall in any way be affected or impaired.</p>
              <br />
              <p>Joint account- If the Trading Account is a joint account (on the name of more than one entity), then each of the entities in the Trading Account shall be authorized to represent the other entities towards the Company, with no requirement of any prior notice or approval from the other entities. Each of the entities in the Trading Account agrees that any notice or instruction given by the Company to any of the entities shall be considered as given to all the entities. In case of contradiction between instructions given to the Company by different entities, then the last instruction received by the Company will prevail.</p>
              <br />
              <p>Notices Unless otherwise agreed, all notices, instructions and other communications to be given by the Company shall be given to the address or fax number provided by the Client, or via e-mail or other electronic means, details of which are provided by the Client to the Company. Any complaint shall be directed to the Company’s client services department, who will investigate the complaint and make every effort to resolve it.</p>
              <br />
              <p>Governing Law These Terms and any relationship between the Company and the Client shall be governed by law applicable in America and subject to the exclusive jurisdiction of American courts. The Company shall have the right, in order to collect funds owed to the Company by Client or to protect the Company’s rights such as good-name, intellectual property, privacy etc. to immediately bring legal proceedings against the Client, in the Client’s residency and according to the Client’s residency applicable law.</p>
              <br />
              <p> No Right to Assign- No rights under this Agreement shall be assignable nor any duties assumed by another party except to/by an affiliate of The Company. Upon assignment to an Affiliate of the Company, the terms of this Agreement may be amended to fit any applicable regulation effective upon the assignee, and Client hereby consent in advance to such regulatory modifications to this Agreement. This Agreement shall be binding upon and inure to the benefit of the successors heirs of the Client.              </p>
              <br />
              <p> Dormant Trading- If the Client will not perform any trading activity or his trading activity will be in very low volume, for the time period defined by the Company, or if the Client does not hold minimum funds in his Trading Account, defined by the Company, the Company may, charge the Trading Account with Dormant Trading commission, at a rate to be determined by the Company from time to time, close any open trade and/or the Client access to the Trading Account and/or terminate this Agreement.</p>
              <br />
              <p>Language, Notices and Complaints All communications between the Company and the Client will be in English or in any Language, suitable both to the Client and the Company.</p>
              <br />
              <p>Force majeure The Company shall not bear responsibility to any harm or any form which shall be caused to the Client in the event that such harm is the result of a force majeure and any outside event which is not in the control of the Company which influences Trading. The Company shall not bear any responsibility for any delay in communications and/or failure in the internet, including, without limitation, computer crashes or any other technical failure, whether caused by the telephone companies and various telecommunication lines, the ISP computers, the Company’s computers or the Customer’s Computers.</p>
              <br />
              <p>We wish you successful trading!</p>
            </div>
            <div></div>
        </div>
      </div>
  </div>
  </div>
</div>
<%- include('partials/footer') %>
<%- include('partials/scripts') %>