<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "Users"}) %>

<!-- Dashboard Section Starts Here -->
<div class="dashbaord-section padding-bottom">
  <div class="container">
    <div class="row">
      <%- include('partials/sidebar', {active: "admin/users"}) %>
      <div class="col-lg-8 col-xl-8 col-xxl-9">
        <div class="dashboard__wrapper">
          <%- include('partials/dashboard-header', {name: "Users"}) %>
            <div class="dashboard__table__container">
              <table style="width: 100%;" class="table mt-5 table-responsive transection__table dashboard__table">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Balance</th>
                      <th>Phone</th>
                      <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                  <% data.docs.forEach(i => { %>
                    <tr data-user="<%= Object.entries(i.toJSON()).map(i => `${i[0]}::${i[1]}`).join(',') %>" class="user__details__btn">
                      <td data-label="Name">
                        <div class="user d-flex align-items-center">
                            <div class="thumb">
                                <img src="/assets/images/dashboard/item1.png" alt="dashboard">
                            </div>
                            <p class="name"><%= i?.first_name + " " + i?.last_name %></p>
                        </div>
                      </td>
                      <td data-label="Email"><span class="wallet"><%= i?.email %></span></td>
                      <td data-label="Balance"><span class="amount">$<%= i?.balance?.toLocaleString("en-US") %></span></td>
                      <td data-label="Phone number"><span class="wallet"><%= i?.phone_number %></span></td>
                      <td data-label="Date"><span class="date"><%= i?.created_at %></span></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
            <%- include('partials/pagination', { ...data, path: "admin/users"}) %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard Section Ends Here -->

<%- include('partials/footer') %>
<%- include('partials/scripts') %>