<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "Withdraw"}) %>

<!-- Dashboard Section Starts Here -->
<div class="dashbaord-section padding-bottom">
  <div class="container">
    <div class="row">
      <%- include('partials/sidebar', {active: "withdraw"}) %>
      <div class="col-lg-8 col-xl-8 col-xxl-9">
        <div class="dashboard__wrapper">
          <%- include('partials/dashboard-header', {name: "Withdraw"}) %>

          <div class="dashboard__form mt-5">
            <div>
              <form id="withdraw" class="setting mt-3">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Enter amount</label>
                      <input name="amount" type="number" class="form-control form--control" placeholder="Enter amount">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-label">Select method</label>
                      <select name="currency" id="currency" class="nice-select w-100 h-50">
                        <option value="btc">Bitcoin</option>
                        <option value="eth">Ethereum</option>
                        <option value="usdt">USDT</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12 mt-3">
                    <div class="form-group">
                      <label>Enter Your wallet Address</label>
                      <input name="address" type="text" class="form-control form--control" placeholder="Address">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button class="btn cmn--btn mt-4">
                      Request withdrawal
                      <span id="loader" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard Section Ends Here -->

<%- include('partials/footer') %>
<%- include('partials/scripts') %>