<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "Investment"}) %>

<!-- Dashboard Section Starts Here -->
<div class="dashbaord-section padding-bottom">
  <div class="container">
    <div class="row">
      <%- include('partials/sidebar', {active: "admin/investment"}) %>
      <div class="col-lg-8 col-xl-8 col-xxl-9">
        <div class="dashboard__wrapper">
            <div class="dashboard__header">
                <div class="inner">
                  <h3 class="title">Investment</h3>
                </div>
                <div class="inner">
                  <ul class="tabs d-flex justify-content-end flex-wrap align-items-end">
                    <li>
                      <div class="user-thumb">
                        <img src="assets/images/dashboard/cc1.png" alt="dashboard">
                      </div>
                    </li>
                  </ul>
                </div>
            </div>
            <div class="dashboard__table__container">
              <table style="width: 100%;" class="table mt-5 table-responsive transection__table dashboard__table">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Amount</th>
                      <th>Profit</th>
                      <th>Status</th>
                      <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                  <% data.docs.forEach(i => { %>
                    <tr data-inv="<%= Object.entries(i).map(i => `${i[0]}:${i[1]}`).join(',') %>" class="inv__details__btn">
                      <td data-label="User Name">
                        <p class="Plan name"><%= i?.plan_name %></p>
                      </td>
                      <td data-label="Capital"><span class="amount">$<%= i?.capitale %></span></td>
                      <td data-label="Profit"><span class="wallet"><%= i?.profit %></span></td>
                      <td data-label="Status"><span class="wallet"><%= i?.status %></span></td>
                      <td data-label="Date"><span class="date"><%= i?.created_at %></span></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard Section Ends Here -->

<%- include('partials/footer') %>
<%- include('partials/scripts') %>