<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "Deposit"}) %>

<!-- Dashboard Section Starts Here -->
<div class="dashbaord-section padding-bottom">
  <div class="container">
    <div class="row">
      <%- include('partials/sidebar', {active: "deposit"}) %>
      <div class="col-lg-8 col-xl-8 col-xxl-9">
        <div class="dashboard__wrapper">
          <div class="dashboard__header">
              <div class="inner">
                <h3 class="title">Deposit</h3>
              </div>
              <div class="inner">
                <ul class="tabs d-flex justify-content-end flex-wrap align-items-end">
                  <li><div class="user-thumb"><img src="assets/images/dashboard/cc1.png" alt="dashboard"></div></li>
                </ul>
              </div>
          </div>

          <div class="dashboard__form mt-5">
            <div>
              <form id="deposit" class="setting mt-3">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Enter amount(USDT)</label>
                      <input required name="amount" type="number" class="form-control form--control" placeholder="Enter amount">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-label">Select Network</label>
                      <select required id="currency" name="currency" class="nice-select w-100 h-50">
                          <option value="erc20">ERC20</option>
                          <option value="trc20">TRC20</option>
                          <option value="bep20">BEP20</option>
                          <option value="arbitrum">Arbitrum One</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12 mt-3">
                    <div class="form-group">
                      <div class="d-flex justify-content-between align-items-center">
                        <label>Address</label>
                        <p id="copy__addr" style="cursor: pointer;" class="title text--base">Copy</p>
                      </div>
                      <input name="address" type="text" disabled class="form-control form--control" placeholder="Address">
                    </div>
                  </div>
                  <div class="col-md-12 mt-2">
                    <div class="form-group">
                      <label>Hash</label>
                      <input name="hash" type="text" required class="form-control form--control" placeholder="0x68e02*****6eed5d">
                    </div>
                  </div>
                  <div style="display: flex; justify-content: center;" class="col-md-12">
                    <div id="qrcode" style="border: 5px white solid; border-radius: 3px;"></div>
                  </div>
                  <div class="col-md-12">
                    <button class="btn cmn--btn mt-4">
                      I have made a deposit
                      <span id="loader" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard Section Ends Here -->

<%- include('partials/footer') %>
<%- include('partials/scripts') %>