<%- include('partials/head') %>
<%- include('partials/header') %>

<!-- Banner Section Starts Here -->
<section class="banner-section overflow-hidden">
  <div class="container">
      <div class="banner__wrapper d-flex align-items-center justify-content-between">
          <div class="banner__content">
              <h1 class="title">Best Hyip Investment Platform</h1>
              <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero hyip investment pandding</p>
              <a href="sign-in.html" class="cmn--btn">Get Started</a>
          </div>
          <div class="banner__thumb d-none d-lg-block">
              <img src="assets/images/banner/thumb.png" alt="banner">
              <div class="shapes">
                  <img src="assets/images/banner/big-coin.png" alt="banner" class="shape shape1">
                  <img src="assets/images/banner/light.png" alt="banner" class="shape shape2">
                  <img src="assets/images/banner/sm-coin.png" alt="banner" class="shape shape3">
                  <img src="assets/images/banner/sm-coin.png" alt="banner" class="shape shape4">
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Banner Section Ends Here -->

<!-- Why Choose Us Section Starts Here -->
<section class="choose-us padding-top padding-bottom">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6 d-none d-lg-block">
              <div class="section__thumb rtl">
                  <img src="assets/images/choose-us/thumb.png" alt="choose-us">
              </div>
          </div>
          <div class="col-lg-6">
              <div class="choose__us__content">
                  <div class="section__header mb-0">
                      <h2 class="section__header-title">Why Choose Our Investment Platform </h2>
                      <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend acenim</p>
                  </div>
                  <p>Maecenas tempus tellus eget condimentum rhoncus seumper libero sit amet adipiscing sem neque sepsumam uam nuandit vel luct endrerilorem.aecenas necdio et ante dunt tempus. Donec vitae sapien utlibero venenatis faucibus.</p>
                  <ul class="info__list d-flex flex-wrap mt-4">
                      <li> Dapivamus elementum</li>
                      <li> Dapivamus elementum</li>
                      <li> There are many variations</li>
                      <li> There are many variations</li>
                      <li> Finibus onorum et alorum</li>
                      <li> Finibus onorum et alorum</li>
                  </ul>
                  <div class="button__wrapper">
                      <a href="about.html" class="cmn--btn">Know More</a>
                      <a href="contact.html" class="cmn--btn2">Contact Us</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Why Choose Us Section Ends Here -->

<!-- Plan Section Starts Here -->
<%- include('partials/plans') %>
<!-- Plan Section Ends Here -->

<!-- Profit Calculation Section Starts Here -->
<section class="profit-calculation padding-bottom">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6 d-none d-lg-block">
              <div class="section__thumb profit__calculation__thumb rtl me-5">
                  <img src="assets/images/calculate-profit/thumb.png" alt="profit-calculation">
              </div>
          </div>
          <div class="col-lg-6">
              <div class="profit__calculation__content">
                  <div class="section__header">
                      <h2 class="section__header-title">Calculate Your Hyip investment</h2>
                      <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend acenim</p>
                  </div>
                  <form class="profit__calculation__form">
                      <div class="row g-4">
                          <div class="col-md-6 col-lg-12 col-xl-6 col-sm-6">
                              <div class="form-group">
                                  <label class="form-label">Plan</label>
                                  <select class="nice-select w-100 h-50">
                                      <option>Select Plan</option>
                                      <option>Silver Plan</option>
                                      <option>Gold Plan</option>
                                      <option>Platium Plan</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-6 col-lg-12 col-xl-6 col-sm-6">
                              <div class="form-group">
                                  <label class="form-label">Compounding</label>
                                  <select class="nice-select w-100 h-50">
                                      <option>05%</option>
                                      <option>15%</option>
                                      <option>20%</option>
                                      <option>25%</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-6 col-lg-12 col-xl-6 col-sm-6">
                              <div class="form-group">
                                  <label class="form-label">Profit</label>
                                  <input type="text" class="form-control form--control" placeholder="$60,000">
                              </div>
                          </div>
                          <div class="col-md-6 col-lg-12 col-xl-6 col-sm-6">
                              <div class="form-group">
                                  <label class="form-label">Total Returns</label>
                                  <input type="text" class="form-control form--control" placeholder="$800000">
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Profit Calculation Section Ends Here -->

<!-- Feature Section Starts Here -->
<section class="feature-section padding-bottom overflow-hidden">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6 col-md-10">
              <div class="section__header text-center">
                  <h2 class="section__header-title">Best  for Hyip Investment</h2>
                  <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend </p>
              </div>
          </div>
      </div>
      <div class="feature__slider">
          <div class="single-slide">
              <div class="feature__item">
                  <div class="feature__item-icon">
                      <img src="assets/images/feature/1.png" alt="feature">
                  </div>
                  <div class="feature__item-content">
                      <h4 class="title">Get More Profit</h4>
                      <p>Maecenas tempuslusning eget condim entum and rhoncus eumpesit.</p>
                  </div>
              </div>
          </div>
          <div class="single-slide">
              <div class="feature__item">
                  <div class="feature__item-icon">
                      <img src="assets/images/feature/2.png" alt="feature">
                  </div>
                  <div class="feature__item-content">
                      <h4 class="title">24/7 Support</h4>
                      <p>Maecenas tempuslusning eget condim entum and rhoncus eumpesit.</p>
                  </div>
              </div>
          </div>
          <div class="single-slide">
              <div class="feature__item">
                  <div class="feature__item-icon">
                      <img src="assets/images/feature/3.png" alt="feature">
                  </div>
                  <div class="feature__item-content">
                      <h4 class="title">Strong Protection</h4>
                      <p>Maecenas tempuslusning eget condim entum and rhoncus eumpesit.</p>
                  </div>
              </div>
          </div>
          <div class="single-slide">
              <div class="feature__item">
                  <div class="feature__item-icon">
                      <img src="assets/images/feature/4.png" alt="feature">
                  </div>
                  <div class="feature__item-content">
                      <h4 class="title">Relability</h4>
                      <p>Maecenas tempuslusning eget condim entum and rhoncus eumpesit.</p>
                  </div>
              </div>
          </div>
          <div class="single-slide">
              <div class="feature__item">
                  <div class="feature__item-icon">
                      <img src="assets/images/feature/4.png" alt="feature">
                  </div>
                  <div class="feature__item-content">
                      <h4 class="title">Relability</h4>
                      <p>Maecenas tempuslusning eget condim entum and rhoncus eumpesit.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Feature Section Ends Here -->

<!-- Referral Section Starts Here -->
<section class="referral-section padding-top padding-bottom section-bg">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6 align-self-end d-none d-lg-block">
              <div class="section__thumb rtl me-5">
                  <img src="assets/images/referral/thumb.png" alt="referral">
                  <div class="shapes">
                      <img src="assets/images/referral/clock.png" alt="referral" class="shape shape1">
                      <img src="assets/images/referral/man.png" alt="referral" class="shape shape2">
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="section__header">
                  <h2 class="section__header-title">30% Referral Commission</h2>
                  <p>Aenean vulputate eleifend tellus. Aenea ligul porttitoeu consequat vitae eleifend acenim</p>
              </div>
              <a href="sign-up.html" class="cmn--btn">Get Started</a>
          </div>
      </div>
  </div>
</section>
<!-- Referral Section Ends Here -->

<!-- Download Section Starts Here -->
<section class="download-section padding-bottom section-bg-two overflow-hidden">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-7">
              <div class="section__header">
                  <h2 class="section__header-title">Download Our App</h2>
                  <p>Curabitur ullamcorper ultricies nisi Tupural Engle  Nam eget dui. Etiam rhoncus.</p>
              </div>
              <div class="button__wrapper">
                  <a href="sign-up.html" class="cmn--btn download-btn"><div class="icon"><i class="fab fa-google-play"></i></div> <div class="text"><p>DOWNLOAD</p><p class="for">For Android</p></div></a>
                  <a href="sign-up.html" class="cmn--btn download-btn"><div class="icon"><i class="fab fa-apple"></i></div> <div class="text"><p>DOWNLOAD</p><p class="for">For IOS</p></div></a>
              </div>
              <div class="counter__wrapper row gy-4 gy-sm-5 pt-4 pt-sm-5">
                  <div class="col-6 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                      <div class="counter__item">
                          <div class="counter__item-header d-flex align-items-center">
                              <div class="icon">
                                  <img src="assets/images/download/icon1.png" alt="counter">
                              </div>
                              <h2 class="title"><span class="odometer" data-odometer-final="39">0</span>M</h2>
                          </div>
                          <p class="info">Active Members</p>
                      </div>
                  </div>
                  <div class="col-6 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                      <div class="counter__item">
                          <div class="counter__item-header d-flex align-items-center">
                              <div class="icon">
                                  <img src="assets/images/download/icon2.png" alt="counter">
                              </div>
                              <h2 class="title"><span class="odometer" data-odometer-final="150">0</span>M</h2>
                          </div>
                          <p class="info">Our Total Deposit</p>
                      </div>
                  </div>
                  <div class="col-6 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                      <div class="counter__item">
                          <div class="counter__item-header d-flex align-items-center">
                              <div class="icon">
                                  <img src="assets/images/download/icon3.png" alt="counter">
                              </div>
                              <h2 class="title"><span class="odometer" data-odometer-final="40">0</span>M</h2>
                          </div>
                          <p class="info">Our Total Withdraw</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-5 d-none d-lg-block">
              <div class="section__thumb profit__calculation__thumb ">
                  <img src="assets/images/download/thumb.png" alt="download">
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Download Section Ends Here -->


<!-- Faq Section Starts Here -->
<section class="faq-section padding-top padding-bottom bg_img" style="background: url(assets/images/faq/bg.png);">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-7 col-md-10">
              <div class="section__header text-center max-p">
                  <h2 class="section__header-title">Frequently Asked  Questions</h2>
                  <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend.</p>
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-10">
              <div class="faq__wrapper">
                  <div class="faq__item">
                      <div class="faq__item-title">
                          <h4 class="title">Why You should become an Investor?</h4>
                      </div>
                      <div class="faq__item-content">
                          <p>Fringilla mauris  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales augue velit cursus nunc quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy idmetus</p>
                      </div>
                  </div>
                  <div class="faq__item">
                      <div class="faq__item-title">
                          <h4 class="title">Why You Choose Us?</h4>
                      </div>
                      <div class="faq__item-content">
                          <p>Fringilla mauris  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales augue velit cursus nunc quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy idmetus</p>
                      </div>
                  </div>
                  <div class="faq__item open active">
                      <div class="faq__item-title">
                          <h4 class="title">What is Hyip  Investment?</h4>
                      </div>
                      <div class="faq__item-content">
                          <p>Fringilla mauris  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales augue velit cursus nunc quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy idmetus</p>
                      </div>
                  </div>
                  <div class="faq__item">
                      <div class="faq__item-title">
                          <h4 class="title">How to do we work?</h4>
                      </div>
                      <div class="faq__item-content">
                          <p>Fringilla mauris  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales augue velit cursus nunc quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy idmetus</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Faq Section Ends Here -->

<%- include('partials/footer') %>
<%- include('partials/scripts') %>