<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', { name: "Privacy & Policy" }) %>

<!-- Privacy Policy Section Starts Here -->
<div class="privacy-policy padding-top padding-bottom">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
              <div class="section__header max-p text-center">
                  <h2 class="section__header-title">Our Company Privacy & Policy</h2>
                  <p>We are dedicated to safeguarding your privacy and securing your personal information.</p>
              </div>
          </div>
      </div>
      <ul class="privacy__tab__menu transection__tab__menu d-flex flex-wrap justify-content-center">
          <li><a class="cmn--btn2 active" href="#overview">Overview</a></li>
          <li><a class="cmn--btn2" href="#data-collection">Data Collection & Use</a></li>
          <li><a class="cmn--btn2" href="#cookie">Cookies Data</a></li>
          <li><a class="cmn--btn2" href="#security">Data Security</a></li>
      </ul>
      <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-8">
              <div class="privacy__card" id="overview">
                  <h3 class="privacy__card-title">Overview</h3>
                  <p>At Apex stack, your privacy is our priority. This Privacy Policy outlines how we collect, use, disclose, and protect your personal information when you access and use our investment platform. We are committed to maintaining the confidentiality, integrity, and security of the personal information of our users.</p>
                  <br />
                  <p>We understand that your trust is our most valuable asset, and we take our responsibility to protect your information seriously. This policy applies to all users of our services, regardless of location, and covers the data we collect through our applications, and any related online services.</p>
              </div>
              <div class="privacy__card" id="data-collection">
                  <h3 class="privacy__card-title">Data Collection & Use</h3>
                  <p>When you use our Site, we may request certain personally identifiable information, such as your name, to contact or identify you ("Personal Information"). This information is essential for providing our services and fulfilling our regulatory obligations.</p>
                  <br />
                  <p>Apex stack acts as the data controller for the personal information you provide, collect, or process in connection with our services. The provision of your personal data is necessary for us to deliver our services effectively. We will clearly indicate at the time of data collection whether providing this information is mandatory.</p>
                  <br />
                  <p>During your registration as a client, filling out any form on our Website or marketing communications, or posting materials, we may collect and store the following information ("Your Data"). This information is used for administrative purposes, service delivery, and compliance with legal requirements.</p>
                  <br/>
                  <p>We will only collect personal information that is necessary for managing our business and providing you with excellent service. This includes any information you provide directly to us. Personal information, such has;</p>
                  <ul class="info__list d-flex flex-wrap mt-3 mt-sm-4">
                      <li>Full Name</li>
                      <li>Date of birth</li>
                      <li> Addresses</li>
                      <li> National Identification number</li>
                      <li> Email Addresses</li>
                  </ul>
              </div>
              <div class="privacy__card" id="cookie">
                  <h3 class="privacy__card-title">Cookies Data</h3>
                  <p>Cookies are small pieces of information that are stored on your computer by a website you visit in order to enable you to perform certain functions on the website and regulate its content to your preference. They can store data on the pages for which you have provided key information (for example, when you provide a password), but only once you are asked and you accept the storage of this information. Cookies may be used on some pages of the site for us to provide you with a more customised web browsing experience. They are not used to determine the personal identity of anyone merely visiting the site.</p>
                  <br />
                  <p>As already mentioned, we use cookies to ensure the optimal functionality of our website and cater our content to your personal preferences.</p>
              </div>
              <div class="privacy__card" id="security">
                  <h3 class="privacy__card-title">Data Security</h3>
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc blandit vel luctus pulvinarhendreorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenati cibus. Nullam quis anttiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla umet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales augueelit cursus nunCras dapivamus elementum semper nisi. Aenean vulputate eleifend llus.nean leo ligula porttitor euconsequat vitae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae eaque quibusdam aspernatur? Ab nemo non amet architecto impedit distinctio soluta quidem laudantium nesciunt porro! Neque numquam nisi provident obcaecati nostrum, omnis, nemo necessitatibus eveniet repudiandae praesentium eaque, voluptates deserunt laudantium possimus quaerat non vero ducimus? Nulla optio accusamus fugiat soluta.</p>
                  <ul class="info__list d-flex flex-wrap mt-3 mt-sm-4 single--line">
                      <li> Dapivamus elementum</li>
                      <li> Dapivamus elementum</li>
                      <li> There are many variations</li>
                      <li> There are many variations</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Privacy Policy Section Ends Here -->

<%- include('partials/footer') %>
<%- include('partials/scripts') %>