<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "Referrals"}) %>

<!-- Dashboard Section Starts Here -->
<div class="dashbaord-section padding-bottom">
  <div class="container">
    <div class="row">
      <%- include('partials/sidebar', {active: "referrals"}) %>
      <div class="col-lg-8 col-xl-8 col-xxl-9">
        <div class="dashboard__wrapper">
          <div class="dashboard__header">
            <div class="inner">
              <h3 class="title">Referrals</h3>
            </div>
            <div class="tabs d-flex justify-content-end flex-wrap align-items-end">
              <button id="referral__withdrawal" class="btn cmn--btn">
                Withdraw
                <span id="loader" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
              </button>
            </div>
          </div>

          <div class="row d-flex align-items-stretch pt-5 gy-4">
            <div class="col-xl-6 col-xxl-4 col-lg-6 col-md-6">
              <div class="dashboard__card">
                <div class="dashboard__card-icon">
                  <i class="las la-wallet"></i>
                </div>
                <div class="dashboard__card-content">
                  <p class="info">Referral Balance</p>
                  <h3 class="title"><%= balance %> USD</h3>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-xxl-4 col-lg-6 col-md-6">
              <div class="dashboard__card">
                <div class="dashboard__card-icon">
                  <i class="las la-wallet"></i>
                </div>
                <div class="dashboard__card-content">
                  <p class="info">Pending Balance</p>
                  <h3 class="title"><%= pending_balance %> USD</h3>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-xxl-4 col-lg-6 col-md-6">
              <div style="height: 100%; flex-direction: column;" class="d-flex justify-content-between dashboard__form">
                <div class="d-flex justify-content-between align-items-center">
                  <h3 class="title">Referral link</h3>
                  <h3 id="copy" style="cursor: pointer;" class="title text--base">Copy</h3>
                </div>
                
                <div class="form-group mt-5 mt-md-0">
                  <input name="code" type="text" value="<%= link %>" disabled class="form-control form--control" placeholder="Referral link">
                </div>
              </div>
            </div>
          </div>

          <table class="table mt-5 transection__table dashboard__table">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Amount</th>
                  <th>Status</th>
                  <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <% data?.forEach(i => {%>
                  <tr>
                      <td data-label="User Name">
                        <p class="name"><%= `${i?.referee?.first_name} ${i?.referee?.last_name}` %></p>
                      </td>
                      <td data-label="Amount"><span class="amount">$<%= i?.reward %></span></td>
                      <td data-label="Status">
                        <% if(i?.completed){ %>
                          <span class="wallet text-capitalize badge" style="background-color: #198754;">completed</span>
                        <% } else{ %>
                          <span class="wallet text-capitalize badge">pending</span>
                        <% } %>
                      </td>
                      <td data-label="Date"><span class="date"><%= i?.created_at %></span></td>
                  </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard Section Ends Here -->

<%- include('partials/footer') %>
<%- include('partials/scripts') %>