<%- include('partials/head') %>
<%- include('partials/header') %>

<div class="account-section padding-top padding-bottom">
  <div class="container">
      <div class="row justify-content-between align-items-center">
          <div class="col-lg-6 col-xl-5 d-none d-lg-block">
              <div class="section__thumb rtl me-5">
                  <img src="assets/images/account/thumb.png" alt="account">
              </div>
          </div>
          <div class="col-lg-6 col-xl-5">
              <div class="account__form__wrapper">
                  <h3 class="title">Create Your Account</h3>
                  <form id="register" class="form account__form">
                    <p class="error theme-one"></p>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <input name="first_name" required class="form-control form--control" placeholder="Enter your First name">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input name="last_name" required class="form-control form--control" placeholder="Enter your Last name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input name="email" required type="email" class="form-control form--control" placeholder="Enter your Email">
                    </div>
                    <div class="form-group">
                        <input name="phone_number" required class="form-control form--control" placeholder="Enter your phone number">
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" class="form-control form--control" required placeholder="Enter your Password">
                        <span class="eye-icon"><i class="las la-eye"></i></span>
                    </div>
                    <div class="form-group">
                        <input 
                            name="referral_code" 
                            class="form-control form--control" 
                            value="<%= referral_code || '' %>"
                            placeholder="Enter your referral code (optional)"
                        >
                    </div>
                    <div class="form--check me-4">
                        <input type="checkbox" id="rem-me">
                        <label for="rem-me">I agree with all  <a href="/policy" class="text--base ms-2">Terms & Condition</a></label>
                    </div>
                    <button class="btn cmn--btn mt-4">
                        Sign Up Account
                        <span id="loader" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                  </form>
                  <p class="mt-4">Already you have an account in here? <a class="ms-2 text--base" href="/login">Sign In</a></p>
              </div>
          </div>
      </div>
  </div>
</div>

<%- include('partials/footer') %>
<%- include('partials/scripts') %>