<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "Reset password"}) %>
<!-- Account Section Starts Here -->
<div class="account-section padding-top padding-bottom">
  <div class="container">
      <div class="row justify-content-between align-items-center">
          <div class="col-lg-6 col-xl-5 d-none d-lg-block">
              <div class="section__thumb rtl me-5">
                  <img src="/assets/images/account/thumb.png" alt="account">
              </div>
          </div>
          <div class="col-lg-6 col-xl-5">
            <div class="account__form__wrapper">
              <h3 class="title">Reset your password</h3>
              <form id="reset-password" class="form account__form">
                <div class="form-group">
                    <input type="password" name="password" required class="form-control form--control" placeholder="Enter new Password">
                    <span class="eye-icon"><i class="las la-eye"></i></span>
                </div>
                <div class="form-group">
                  <input type="password" name="cpassword" required class="form-control form--control" placeholder="Confirm Password">
                  <span class="eye-icon"><i class="las la-eye"></i></span>
                </div>
                <input value="<%= token %>" name="token" class="form-control form--control" hidden>
                <button class="btn cmn--btn mt-4">
                  Reset
                  <span id="loader" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
              </form>
              <p class="mt-4">Already you have an account in here? <a class="ms-2 text--base" href="/login">Sign In</a></p>
            </div>
          </div>
      </div>
  </div>
</div>
<!-- Account Section Ends Here -->

<%- include('partials/footer') %>
<%- include('partials/scripts') %>