<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/banner', {name: "Transactions"}) %>

<!-- Dashboard Section Starts Here -->
<div class="dashbaord-section padding-bottom">
  <div class="container">
    <div class="row">
      <%- include('partials/sidebar', {active: "transactions"}) %>
      <div class="col-lg-8 col-xl-8 col-xxl-9">
        <div class="dashboard__wrapper">
          <div class="dashboard__header">
              <div class="inner">
                  <h3 class="title">Transactions</h3>
              </div>

              <div class="inner">
                <ul class="tabs d-flex justify-content-end flex-wrap align-items-center">
                  <li><div class="user-thumb"><img src="assets/images/dashboard/cc1.png" alt="dashboard"></div></li>
                </ul>
              </div>
          </div>
          <!-- <div class="d-flex flex-wrap align-items-center justify-content-between mt-5 mb-4">
              <h3 class="title">Transactions</h3>
              <select class="nice-select btn--round">
                  <option>Last Month</option>
                  <option>Last 3 Months</option>
                  <option>Last 6 Months</option>
              </select>
          </div> -->
          <div class="dashboard__table__container">
            <table class="table transection__table dashboard__table__container dashboard__table mt-5">
              <thead style="width: 100%;">
                  <tr>
                    <th>Ref</th>
                    <th>Type</th>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Date</th>
                  </tr>
              </thead>
              <tbody style="width: 100%;">
                <% data.docs?.forEach(i => {%>
                  <tr style="width: 100%;">
                    <td data-label="User Name">
                      <p class="name"><%= i?._id %></p>
                    </td>
                    <td data-label="Transaction type"><span class="amount"><%= i?.type %></span></td>
                    <td data-label="Currency"><span class="wallet"><%= i?.currency %></span></td>
                    <td data-label="Amount"><span class="date"><%= i?.amount?.toLocaleString("en-US") %></span></td>
                    <td data-label="Status"><span class="currency"><%= i?.status %></span></td>
                    <td data-label="Date"><span class="date"><%= i?.created_at %></span></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          <%- include('partials/pagination', { ...data, path: "transactions"}) %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard Section Ends Here -->

<%- include('partials/footer') %>
<%- include('partials/scripts') %>